<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}


<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{% liquid
  assign header_tag = 'div'

  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
%}

<{{ header_tag }} {% if header_tag == 'sticky-header' %}data-sticky-type="{{ section.settings.sticky_header_type }}"{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
        <h1 class="header__heading">
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </h1>
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
        <h1 class="header__heading">
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
{%- if settings.logo and settings.logo.src -%}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
{%- endif -%}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </h1>
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
          rel="nofollow"
        >
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        <svg id="cartIcon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 463.92">
          <defs>
            <style>
              .cls-1 {
                fill: #fff;
              }
            </style>
          </defs>
          <path class="cls-1" d="M379,0c6.41,1.61,12.51,3.38,18.67,5.81,47.46,18.79,94.06,46.03,141.68,65.18,5.53,2.02,8.38,5.63,10.64,10.83v2c-2.06,4.49-4.12,8.1-9.56,8.92-10.56,1.59-22.37.52-32.98,1.02s-22.04,1.57-32.92,2.08c-10.49.49-32.48-2.57-38.75,7.23-21.86,79.42-39.84,160.1-60.59,239.89-1.48,4.52-5.15,6.22-9.4,7.59-9.17,2.95-21.19,3.87-30.79,5.7l11.97,2.51c24.4,8.29,39.2,35.46,22,57.82-19.95,25.94-56.82,7.69-63.59-19.5l-57.39,12.05c.09,3.69,2.52,6.4,3.52,9.95,7.5,26.79-17.49,54.11-44.9,41.81-22.7-10.19-33.53-30.66-21.7-54.16l-20.43-14.55c-3.39,7.32-5.79,14.26-12.47,19.46-31.11,24.24-81.2-26.39-42.53-58.41,1.41-1.17,3.2-1.4,3.89-1.92,2.47-1.89-.95-2.18-1.86-3.03-22.64-21-48.65-38.69-70.74-60.18L0,129.72v-7.98c3.15-4.08,5.04-6.38,10.5-6.98,40.21-4.47,84.29-4.48,124.99-7,45.08-2.79,92.15-7.89,136.99-9.04,8.43-.22,15.08,5.13,22.02,9.02,1.14-.66,1.12-1.48,1.45-2.51,7.52-23.25,8.62-53.31,16.32-76.51,8.22-24.76,37.3-26.12,59.12-27.81l1.6-.91h6ZM498.99,72.86l-114.21-50.18c-8.73-2.72-21.9-.91-31.15.4-1.86.26-8,.91-8.62,2.38l100.72,50.16,32.82-.73,20.45-2.02ZM396.99,170.63l17.98-72.38c2.03-6.11,6.47-10.65,11.02-14.93l-93.49-47.37-19.35,82.12,83.84,52.56ZM270,119.74l-42.01,2c.34,10.62-.89,21.41,1.06,31.88l34.47-1.92c2.31-.18,5.14-.87,5.48-3.51l1-28.44ZM217,122.73l-45.01,3,4.01,31.92,41.98-2.99-.99-31.93ZM388.99,191.61l-107.98-67.87c-.79,7.15-.87,14.24-1.01,21.44-.05,2.65-2.29,5.55-.06,8.07,20.23,12.16,39.85,28.05,60.15,39.76,4.76,2.74,6.47,4.83,12.44,4.64,11.58-.37,24.18-4.07,35.98-4.05.87.12.6-1.86.5-1.98ZM160.89,126.84l-49.81,2.98,8.01,31.74,45.91-2.89-4.11-31.83ZM98.99,129.72l-59.99,4.49,39.71,30.23c2.82.81,25.16-.65,27.89-1.68,1.17-.44,1.62.6,1.37-1.54-1.11-9.53-7.91-21.5-8.98-31.5ZM48,167.63l-3.1-3.38-16.89-11.57c-.6.68,2.79,14.73,3.95,15.5,2.52,1.68,12.37-1.83,16.04-.55ZM229,164.65v25.45c0,1.57,4.21,1.61,5.51,1.57,10.07-.3,21.17-3.63,31.49-3.06l2.02-24.46-1-2.05-38.03,2.56ZM218,165.64l-39.99,3.01,3,27.92,37.05-3.42c2.77-1.93-1.52-23.12-.06-27.51ZM329.99,198.59l-51.99-32.94c1.46,4.72-2.84,22.27-.36,25.04.88.98,21.63,12.68,22.93,12.88l28.92-2.99c.87.11.6-1.86.49-1.98ZM167,169.63l-44,3,8.14,28.79,37.92-3.29c2.98-2.09-2.82-23.88-2.06-28.51ZM111.9,173.73l-18.89,1.39,23.99,17.46-5.1-18.85ZM62,204.55l-5.92-26.5c-1.01-.73-19.31.9-19.96,1.66-.46,3.31.01,7.38,2.37,9.9,2.05,2.19,16.98,12.04,20.23,13.74,1.11.58,1.76,1.57,3.29,1.2ZM102.99,235.49l-6.55-31.87-27.43-20.02,6.54,31.88,27.45,20ZM265,199.57l-35.01,2.99v7.99s35.01-2.99,35.01-2.99v-7.99ZM69.99,247.46c1.09-1.27-3.46-23.06-4.97-25.47-.82-1.32-24.06-19.65-25.02-18.43,2.55,6.89,3.38,19.56,6.96,25.47,1.18,1.95,13.75,12.18,16.55,14.42.91.72,5.82,4.77,6.47,4.01ZM218.99,203.57c-4.53,1.79-34.54,2.6-35.94,4.04-.49.51.21,5.5-.06,6.94,4.44-.32,34.69-1.76,36-3.01.39-.37-.25-6.5,0-7.97ZM172,208.54l-29.5,3c-.87-.12-.6,1.85-.5,1.98.32.38,8.03,4.95,8.53,4.99l22.46-1.98-.99-7.98ZM136.69,233.8l-26.69-19.25c3.36,7.93,3.14,24,6.54,30.88,2.16,4.38,20.93,14.04,24.96,19,1.07-.73.47-3.15.36-4.35-.31-3.39-4.07-24.69-5.17-26.28ZM385,214.54c-11.51,1.59-23.53,1.68-34.76,4.22l-5.23,30.7,33.96-4.03,6.03-30.89ZM336.99,218.54l-53.99,5.99-1.01,31.93,49.36-5.9,5.63-32.01ZM272,226.51l-55.05,5.46-.84,1.11,3.32,29.42c1.01,1.45,5.22,1.04,7.06.92,14.47-.89,28.94-4.59,43.5-4.98l2.01-31.93ZM112.99,284.39l-6.56-31.86-27.43-20.02,6.57,28.86,27.41,23.03ZM206.01,233.49l-47.01,3.99,4.44,32c.9,1.31,3.54,1.03,5.03.95,13.43-.78,27.03-4.45,40.54-5.01l-3-31.93ZM80.99,295.36l-6.1-28.33-22.89-18.56,7.53,29.89c6.41,4.78,12.09,10.7,18.45,15.51,1,.76,1.25,1.95,3,1.49ZM376,256.45l-33.83,4.16-5.16,33.75,31.03-5.45,7.96-32.46ZM329.99,261.44l-49,5.98-1.99,36.92,45.03-8.45,5.96-34.46ZM149.99,315.32l-4.74-33.67c-7.07-7.37-16.67-12.78-24.76-19.19,2.5,8.51,3.1,26.68,7.09,33.83,3.02,5.41,17.56,14.07,22.41,19.04ZM270,269.43l-49,4.98,4.01,38.92,42.89-7.08,2.1-36.82ZM209.96,276.45l-43.9,4.99,5.95,41.86,41.98-7-4.03-39.85ZM122.99,330.28c.95-1.04-4.93-25.7-5.95-27.48s-20.61-18.3-23.56-20.4c-1.36-.96-2.63-2.25-4.48-2,3.05,6.94,3.13,22.04,6.54,27.89.85,1.46,21.39,18.18,24.46,20.5,1,.76,1.25,1.95,3,1.49ZM366,300.36l-30.81,5.16-6.18,31.75,27.99-6.48,9-30.42ZM323,308.34l-44.02,7.46-.99,2-.99,29.45,40.8-8.2,5.2-30.72ZM156.99,358.22c.87-.99-3.38-23.77-4.58-25.86-.99-1.73-13.15-11.82-15.51-13.46-1.8-1.25-3.44-2.91-5.91-2.58,3.45,6.72,3.13,21.02,6.54,26.89.53.91,11.15,9.57,12.98,10.99.94.73,5.8,4.77,6.47,4.01ZM267,318.31l-40.59,6.95,3.63,31.93,35.86-7.05,1.11-31.84ZM216,327.29l-41.99,7.03,4.98,32.9,40-7-2.99-32.93ZM309.81,372.36c-.45-.78-13.88-8.45-16.26-7.17-32.64,6.9-65.46,13-98.09,19.96-.97.21-3.34-.59-2.45,1.51.47,1.1,6.38,5.13,7.63,5.27,1.75.19,3.92-1.53,5.94-1.68,7.54-.58,13.67.03,20.73,2.59,25.16-7.27,55.31-9.16,79.9-16.97,1.87-.59,4.25-.66,2.6-3.5ZM127,394.17c-1.37,1.82,3.79,4.72,5.59,4.95,12.95,1.67,18.63-23.96,3.42-25.92,1.94,6.01.41,14.7-4.48,18.97-1.55,1.35-4.37,1.79-4.52,1.99ZM337.01,404.15c5.09,12.41,17.69,3.06,18.9-6.59.72-5.76-1.51-14.91-8.4-15.27-5.74-.3-2.47,3.92-2.44,7.36.04,5.92-1.76,12.55-8.07,14.5ZM220,415.11c.91,6.58,2.37,12.92-1.55,18.91-1.08,1.65-5.85,4.89-5.45,6.49.28,1.14,4.92,3.52,6.5,3.62,14.63.94,18.57-30.48.51-29.02Z"/>
        </svg>
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
  <div class="pageCaption">
    <span>
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 504.1 107.79">
        <defs>
          <style>
            .cls-1 {
              fill: #ffffff;
            }
          </style>
        </defs>
        <path class="cls-1" d="M252.78,0c.5,7.89,9.78,11.86,8.59,20.66,7.57-1.43,15.73-1.22,20.83,5.47-18.99.39-30.31,15.1-28.19,33.42,4.91,1.44,3.88-4.67,5.89-9.35,14.17-32.85,70.64-14.98,58.45,19.06-7.8,21.78-43.3,20.14-39.86-7.92,1.18-9.65,14.48-15.36,21.71-8.71,8.16,7.5.25,21.42-3.3,17.84-.13-5.29,1.99-10.15-5.09-9.07-10.54,1.61-9.44,19.35,4.44,20.1,18.03.97,26.44-19.14,17.6-33.31-13.46-21.56-52.38-15.46-53.74,11.34,7.86-3.17,11.87,6.23,5.24,8.27-5.04,1.55-6.48-2.43-4.67,6.37,7.89,38.4,71.98,29.61,98.34,17.17,1.74-.82,12.08-5.89,12.46-6.48,1.33-2.08-.98-13.04,1.42-16.81l-21.62,11.97c-8.74,3.57-21.07,6.88-30.5,7.44-2.51.15-6.45,1.26-5.49-2.41,16.17-.31,43.63-7.06,55.21-18.8,2.67-2.71,4.87-10.19,5.47-10.39,1.76-.58,3.27-.6,3.12,1.88-.2,3.31-3.92,7.51-4.63,12.44-.6,4.14-.28,8.29-.31,12.44,36.07-23.39,107.74-51.75,129.94,2.43v8.51c-2.76,6.72-8.1,13.14-16.23,11.92-9.9-1.48-15.4-14.34-7.07-20.43-.54,10.83,14.59,12.92,16.91,2.78,4.29-18.77-19.18-29.56-34.63-30.77-23-1.81-42.93,4.03-63.21,13.99-3.17,1.56-24.74,12.96-25.52,14.19-1.25,1.97.49,12.35-.19,15.6,11.04-5.18,21.05-12.32,32.27-17.22,9.94-4.34,32.14-12.87,41.78-5.99,6.06,4.32-10.84,12.8-6.63.14-13.49-1.11-26.34,4.48-38.26,10.06-4.67,2.18-28.08,16.73-29.78,16.63-3.15-.18-1.4-14.24-1.84-16.98-27.12,18.75-96.54,29.64-111.58-7.87-1.28-3.18-2.03-11.15-2.45-11.56-.17-.17-4.69-.18-4.87-.02-.55.52-.25,13.78.19,15.01.73,2.07,5.7,2.63,5.44,7.51-.17,3.28-4.65,5.05-5.39,7.5-.81,2.71-.02,6.04-.25,8.86-3.35,4.38-2.19-9.17-2.42-10.08-.4-1.61-5.07-1.19-5.05-6.33.01-4.37,3.96-4.81,4.78-7.53,1.23-4.07-.35-10.52.24-14.95-.99.15-3.41-.24-3.66,0-.53.49-2.19,10.41-3.84,13.83-11.64,24.2-50.33,25.59-73.19,20.59-13.69-2.99-25.49-9.65-38.22-14.98v17.01c-12.34-5.91-23.7-13.88-36.34-19.27-10.25-4.37-20.9-8.61-32.31-7.46,3.02,13.36-15.06,4.45-5.28-.99,15.86-8.82,56.86,14.82,70.87,24.07.29-3.78,2-12.61.01-15.81-1.14-1.84-31.45-17.48-35.75-19.25-20.75-8.55-51.83-13.98-72.41-2.85-9.31,5.03-21.46,20.6-10.81,29.43,10.59,8.78,13.71-7.29,14.74-7.28,11.27,14.08-10.38,29.01-20.75,14.47-10.34-14.48,5.05-33.59,18.48-39.83,34.08-15.86,78.24,4.16,107.08,22.91-.56-5.06.86-11.53-.04-16.35-.66-3.52-8.01-9.25-1.8-10.38,10.2,21.11,39.96,28.11,61.92,29.17.97,3.67-2.98,2.55-5.49,2.4-18.58-1.11-36.97-9.28-52.11-19.42.68,3.98-1.29,12.66.61,15.79,2.47,4.07,27.98,13.68,33.71,15.19,27.56,7.27,75.26,5.5,78.46-30.98-11.26.96-12.39-9.78,0-9.13-2.73-24.57-36.99-32.13-51.82-13.66-12.86,16.01-1.96,41.17,19.01,35.85,14.2-3.6,4.74-27.16-3.69-18.84-2.1,2.08,1.16,14.15-4.51,6.91-12.83-16.38,15.85-28.2,21.66-10.53,9.31,28.32-34.2,35.76-40.19,7.04-6.3-30.19,40.29-46.1,57.31-19.14,2.14,3.38,4.15,12.56,4.69,12.99.33.27,2.65-.16,3.65,0,1.78-17.03-10.38-33.13-28.2-33.43.11-5.25,16.76-8.28,20.84-4.24-2.78-9.99,7.41-13.1,7.37-21.87h2.45ZM252.76,6.08c-8.02,5.85-11.34,15.72-1.65,21.78,11.93-6.22,7.33-13,1.65-21.78ZM250.35,34.02c-2.59-7.8-13.27-10.64-20.86-9.7l10.21,5.05c6.62,4.13,9.08,11.54,12.46,18.04,1.85-8.49,6.93-15.29,14.46-19.7l8.21-3.39c-6.69-.47-11.06-.36-16.54,3.64-1.85,1.35-6.05,7.33-7.95,6.06ZM222.12,59.54c-.98-6.03-9.99-8.23-14.69-6.06,1.16,2.54,6.2.64,8.94,1.45,1.7.5,5.14,5.22,5.75,4.61ZM296.9,53.48c-6.43-3.02-15.6.99-15.92,8.48l6.15-6.65,9.77-1.84ZM266.26,61.97h-28.2v3.65h26.36c.8,0,2.35-2.61,1.84-3.65ZM250.31,93.56l-.59-7.28c-2.71,2-2.77,6.1.59,7.28ZM252.79,94.78c4.13-2.04,3.94-5.83.59-8.5l-.59,8.5ZM7.59,98.44c3.5,6.29,17.75,4.31,17.15-3.65-1.92-.09-1.35,2.31-3.16,3.52-5.2,3.5-8.7,1.6-13.99.13ZM499.18,94.78c-5.07,5.83-15.31,9.07-18.39,0-1.47-.36-1.52.64-1.24,1.82,1.85,7.84,18.63,7.16,19.63-1.83Z"/>
      </svg>
    </span>
    {% if page.metafields.custom.page_caption %}
        {{ page.metafields.custom.page_caption | escape }}
    {% else %}
      <p>Home to a Simply Delectable Range of First Class Gentleman’s Grooming Requisites.</p>
    {% endif %}
  </div>
</{{ header_tag }}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },    
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__utilities.content"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label",
      "info":"t:sections.header.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label",
      "info":"t:sections.header.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
