<header class="header page-width">
  <div class="header__logo">
    <a href="{{ routes.root_url }}" class="header__logo-link" style="display: block; height:{{settings.logo_width}}px">
      {% if settings.logo != blank %}
        {% assign logo_alt = settings.logo.alt | default: shop.name | escape %}
        {% assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio %}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{ settings.logo | image_url: width: 600 | image_tag:
          class: 'header__logo-image',
          widths: widths,
          height: logo_height,
          width: settings.logo_width,
          alt: logo_alt,
          sizes: sizes,
          preload: true
        }}
      {% else %}
        <span class="header__logo-text">{{ shop.name }}</span>
      {% endif %}
    </a>
  </div>

  <nav class="header__nav" aria-label="Main navigation">
    <ul class="header__nav-list">
      {% assign main_menu = linklists['top-menu'] %}
      {% for top_link in main_menu.links %}
        {% assign top_index = forloop.index %}

        {%- comment -%} find the first block whose settings.menu_selector matches this top link index {%- endcomment -%}
        {% assign mega_block = nil %}
        {% for block in section.blocks %}
          {% if block.type == 'mega_menu_content' %}
            {% assign selector_index = block.settings.menu_selector | plus: 0 %}
            {% if selector_index == top_index %}
              {% assign mega_block = block %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}


        <li class="header__nav-item" tabindex="{{ top_index }}" aria-haspopup="true" aria-expanded="false">
          <a href="{{ top_link.url }}" class="header__nav-link">{{ top_link.title }}
            <svg width="71" height="6" viewBox="0 0 71 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.2297 0.777344C22.1835 0.777344 17.5539 2.6733 14.4675 2.6733C11.3812 2.6733 0.390625 2.85827 0.390625 2.85827C0.390625 2.85827 8.49238 3.23746 14.4675 3.23746C20.4427 3.23746 21.2237 5.13341 25.6557 5.13341C30.0877 5.13341 31.4426 3.05249 31.4426 3.05249C31.4426 3.05249 30.2853 0.777344 26.2297 0.777344Z" fill="#A30000"/>
<path d="M57.9126 2.6733C54.8262 2.6733 50.1966 0.777344 46.1505 0.777344C42.1043 0.777344 40.9375 3.05249 40.9375 3.05249C40.9375 3.05249 42.2925 5.13341 46.7245 5.13341C51.1564 5.13341 51.928 3.23746 57.9126 3.23746C63.8972 3.23746 71.9895 2.85827 71.9895 2.85827C71.9895 2.85827 60.999 2.6733 57.9126 2.6733Z" fill="#A30000"/>
<path d="M35.9976 0.399874C33.0429 0.399874 32.5254 3.05421 32.5254 3.05421C33.297 4.32126 34.4544 5.19987 36.1293 5.19987C37.8042 5.19987 39.2157 3.55363 39.2157 3.55363C39.2157 3.55363 38.9616 0.390625 35.9976 0.390625V0.399874Z" fill="#A30000"/>
</svg>
          </a>
          

          {%- comment -%} show the mega menu if it has children OR a matching content block {%- endcomment -%}
          {% if top_link.links.size > 0 or mega_block %}
            <div class="header__mega-menu" aria-label="Submenu for {{ top_link.title }}">
              {% if top_link.links.size > 0 %}
                <div class="header__mega-menu-columns">
                  {% for second_level_link in top_link.links %}
                    <div class="header__mega-menu-column">
                      <h3 class="header__mega-menu-column-title">{{ second_level_link.title }}</h3>
                      <ul class="header__mega-menu-column-list">
                        {% for third_level_link in second_level_link.links %}
                          <li class="header__mega-menu-item">
                            <a href="{{ third_level_link.url }}" class="header__mega-menu-link">{{ third_level_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endfor %}
                  {% if mega_block %}
                    <a href="{{ mega_block.settings.link }}" class="header__mega-menu-extra" style="position: relative; display: block; width: 100%; max-width: 300px; aspect-ratio: 16 / 9; overflow: hidden;">
                      {% if mega_block.settings.image %}
                        <img src="{{ mega_block.settings.image | img_url: '600x450' }}" alt="" style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                      {% endif %}
                      {% if mega_block.settings.text %}
                        <div class="header__mega-menu-extra-text-overlay" >
                          {{ mega_block.settings.text }}
                        </div>
                      {% endif %}
                    </a>
                  {% endif %}



                </div>
              {% endif %}

              
            </div>
          {% endif %}
        </li>
      {% endfor %}

    </ul>
  </nav>

  <button class="header__hamburger" aria-label="Open menu" aria-controls="MobileNav" aria-expanded="false">
  <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231.92 155.26">
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path d="M6.32,70.26c5.62,13.04,34.46,19.49,53.99,10.62,7.84-3.56,11.62-9.83,20.22-13.27,12.94-5.17,26.47-1.49,35.62,4.64,5.96-3.93,14.85-7.6,24.6-7.16,22.51,1.01,22.15,21.36,55.02,19.82,12.34-.58,27.34-6.84,30.15-13.7.92-2.24-4.15.14-5.54.28-13.25,1.35-19.5-11.16-4.4-12.49,17.98-1.58,17.92,10.03,13.43,16.82-11.55,17.46-52.89,22.23-82.36,20.34-12.55-.8-22.6-3.17-30.89-8.62-13.51,9.41-38.25,9.53-58.17,8.62-26.9-1.23-62.38-13.5-57.54-30.85,1.52-5.43,14.04-9,21.32-4.71,10.08,5.95-3.99,13.85-15.45,9.65Z"/>
      <path d="M6.32,128.97c5.62,13.04,34.46,19.49,53.99,10.62,7.84-3.56,11.62-9.83,20.22-13.27,12.94-5.17,26.47-1.49,35.62,4.64,5.96-3.93,14.85-7.6,24.6-7.16,22.51,1.01,22.15,21.36,55.02,19.82,12.34-.58,27.34-6.84,30.15-13.7.92-2.24-4.15.14-5.54.28-13.25,1.35-19.5-11.16-4.4-12.49,17.98-1.58,17.92,10.03,13.43,16.82-11.55,17.46-52.89,22.23-82.36,20.34-12.55-.8-22.6-3.17-30.89-8.62-13.51,9.41-38.25,9.53-58.17,8.62-26.9-1.23-62.38-13.5-57.54-30.85,1.52-5.43,14.04-9,21.32-4.71,10.08,5.95-3.99,13.85-15.45,9.65Z"/>
      <path d="M6.32,11.55c5.62,13.04,34.46,19.49,53.99,10.62,7.84-3.56,11.62-9.83,20.22-13.27,12.94-5.17,26.47-1.49,35.62,4.64,5.96-3.93,14.85-7.6,24.6-7.16,22.51,1.01,22.15,21.36,55.02,19.82,12.34-.58,27.34-6.84,30.15-13.7.92-2.24-4.15.14-5.54.28-13.25,1.35-19.5-11.16-4.4-12.49,17.98-1.58,17.92,10.03,13.43,16.82-11.55,17.46-52.89,22.23-82.36,20.34-12.55-.8-22.6-3.17-30.89-8.62-13.51,9.41-38.25,9.53-58.17,8.62C31.09,36.23-4.39,23.96.45,6.61,1.96,1.18,14.48-2.39,21.77,1.91c10.08,5.95-3.99,13.85-15.45,9.65Z"/>
    </g>
  </g>
</svg>
</button>


  <div class="header__actions">
    <a href="{{ routes.search_url }}" class="header__action header__action--search" aria-label="Search">
      <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_40002264_3614)">
<path opacity="0.9" fill-rule="evenodd" clip-rule="evenodd" d="M11.7719 3.80625C12.5511 5.06118 12.6462 6.63049 12.1628 8.0491C12.3108 6.77599 12.0493 5.43272 11.3361 4.28172C10.4459 2.84751 9.04591 2.03168 7.60103 1.93035C9.23346 1.67313 10.8553 2.33047 11.7719 3.80625ZM1.90601 7.54505C1.77922 5.77568 2.38412 4.11024 3.46448 2.84492C4.27013 1.90177 5.33993 1.18467 6.56821 0.813126C5.17087 1.06255 3.95315 1.79265 3.08147 2.81114C2.09884 3.95694 1.54942 5.47169 1.67092 7.08257C1.67621 7.16312 1.67621 7.14753 1.67621 7.17091C1.74224 7.9088 1.94564 8.60252 2.25733 9.22609C2.08299 8.73763 1.96677 8.22058 1.91658 7.68276C1.91394 7.65158 1.9113 7.60481 1.90601 7.54505ZM11.6663 1.38733C10.4274 0.420798 8.83723 -0.106635 7.13877 0.0180779C7.13349 0.0180779 7.09915 0.0206761 7.04103 0.0258725C5.22106 0.184363 3.62825 1.05995 2.52412 2.34606C1.41998 3.63477 0.804521 5.33139 0.939236 7.13714C0.939236 7.15532 0.939236 7.15013 0.949802 7.23587C1.10829 9.00264 1.96149 10.5356 3.22147 11.5982C3.95051 12.214 4.81692 12.6687 5.76256 12.9181C6.65538 13.2923 7.64857 13.4663 8.68139 13.3962C8.71309 13.3962 8.75799 13.391 8.8161 13.3858C10.5938 13.2273 12.1523 12.3647 13.2353 11.0994C13.3436 10.9747 13.444 10.8448 13.5417 10.7123L14.0911 10.9851C13.9907 10.2991 14.7436 9.14554 15.1424 8.93509L14.5613 8.64669C14.7673 7.93478 14.8519 7.17611 14.7964 6.39925C14.7911 6.33949 14.7885 6.29272 14.7858 6.26154C14.6273 4.54673 13.8006 3.06057 12.5828 2.03168C12.3002 1.79265 11.9938 1.577 11.6715 1.38993L11.6663 1.38733ZM3.83693 3.1541C2.83317 4.32589 2.27318 5.87181 2.39205 7.51388C2.39205 7.54246 2.39733 7.58403 2.40261 7.64119C2.55053 9.22609 3.31392 10.6031 4.43919 11.5541C4.48409 11.593 4.53164 11.6294 4.57654 11.6658C5.54332 12.2114 6.68179 12.4894 7.87838 12.4011L7.96555 12.3933C9.58741 12.253 11.0059 11.4709 11.9912 10.3251C12.9738 9.17932 13.5232 7.66197 13.4017 6.05369L13.3938 5.96535C13.2538 4.39344 12.493 3.02939 11.3757 2.08624C10.9451 1.72249 10.4617 1.4237 9.93873 1.19766C9.33911 1.04437 8.70516 0.982009 8.05008 1.02878C8.02366 1.02878 7.9814 1.03397 7.92593 1.03917C6.28029 1.18727 4.83805 1.98491 3.83429 3.1567L3.83693 3.1541ZM9.67458 12.757C10.8051 12.3595 11.7904 11.671 12.5459 10.7902C12.7176 10.5901 12.876 10.3823 13.0213 10.164C13.0345 10.2758 13.0662 10.3797 13.1191 10.4628C13.0345 10.5746 12.95 10.6837 12.8576 10.7902C12.044 11.7411 10.9398 12.4453 9.67194 12.757H9.67458ZM14.0938 8.49339C14.2787 7.83865 14.3579 7.14233 14.3051 6.43043C14.3051 6.40185 14.2998 6.36028 14.2945 6.30312C14.2364 5.69254 14.0885 5.11314 13.864 4.57791C13.9934 5.00142 14.0806 5.44311 14.1228 5.90039C14.1281 5.96015 14.1307 5.99393 14.1307 5.99913C14.1994 6.91369 14.0753 7.80228 13.7926 8.62071C13.8877 8.56095 13.9881 8.51678 14.0938 8.49339ZM14.6775 11.6658C14.453 10.9773 15.1636 9.44174 16.0511 8.98705C16.3364 9.09618 16.6164 9.2079 16.899 9.32482C16.5477 9.4937 16.0643 10.1822 15.7209 10.8967L15.4277 10.7512L15.2349 11.393C15.3088 11.4397 15.3854 11.4839 15.4594 11.5307C15.3934 11.7256 15.3458 11.91 15.3247 12.0711C15.1081 11.9386 14.8915 11.8035 14.6722 11.6658H14.6775ZM17.0416 9.38198C20.4227 10.772 23.6295 12.5024 26.794 14.3211C27.2589 14.8044 26.3845 16.9219 25.5208 16.9999L25.534 16.9895C25.5076 16.9739 25.4891 16.9505 25.4759 16.9167C25.3174 16.5036 26.0992 14.8226 26.4321 14.7005L26.4083 14.6381C25.9672 14.6771 25.0532 16.3477 25.1959 16.9038C22.108 15.5995 19.0148 14.277 15.7024 12.2946C15.6971 12.1439 15.7315 11.9464 15.7922 11.7256C18.2752 13.1961 21.3208 14.6459 24.6544 16.1217C24.6966 15.8931 24.7917 15.6774 24.937 15.4722L16.0247 11.0474C16.3284 10.2913 16.7801 9.51449 17.0443 9.38458L17.0416 9.38198ZM3.17392 7.44632C3.1343 5.87961 3.79995 4.38565 4.8671 3.34117C4.14334 4.42982 3.72071 5.80426 3.75769 7.24106C3.80523 9.03382 4.55541 10.5304 5.68332 11.393C4.23315 10.759 3.22411 9.28844 3.17656 7.44632H3.17392Z" fill="black"/>
</g>
<defs>
<clipPath id="clip0_40002264_3614">
<rect width="26" height="17" fill="white" transform="translate(0.920898)"/>
</clipPath>
</defs>
</svg>

    </a>

    <a href="{{ routes.cart_url }}" class="header__action header__action--cart" aria-label="Cart">
      <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.1656 23.6551C10.9014 23.5188 10.6268 23.3972 10.3711 23.2421C9.52427 22.7307 9.24338 21.8084 9.64584 20.9007C9.66471 20.8567 9.68567 20.8127 9.70873 20.7561C9.36077 20.515 9.01909 20.2782 8.66275 20.0308C8.60615 20.1734 8.56423 20.297 8.50763 20.4165C8.10936 21.2759 7.23317 21.5673 6.39261 21.1376C5.88534 20.8777 5.44305 20.5653 5.29632 19.9763C5.13492 19.3265 5.23553 18.5153 6.14107 17.9305C5.75328 17.6035 5.37178 17.2828 4.98819 16.962C4.21261 16.3122 3.43074 15.6687 2.66146 15.0126C2.55036 14.9183 2.45813 14.7674 2.42249 14.6269C1.76221 12.0319 1.10611 9.43685 0.452109 6.83972C0.336821 6.38276 0.54434 6.11655 1.01807 6.0872C3.15405 5.95933 5.29003 5.82518 7.42392 5.69732C8.93315 5.60718 10.4445 5.52124 11.9558 5.4311C12.6308 5.39128 13.3078 5.34726 13.9828 5.29485C14.2679 5.2718 14.5299 5.31162 14.7709 5.47512C14.9093 5.56735 15.0602 5.64072 15.2384 5.74343C15.3243 5.35355 15.4082 4.98462 15.4878 4.6136C15.6911 3.67662 15.8672 2.73126 16.102 1.80266C16.2592 1.1801 16.7308 0.78393 17.3303 0.622526C17.8586 0.479988 18.4141 0.44645 18.9591 0.366796C19.5082 0.285046 20.0092 0.42968 20.506 0.660257C22.8223 1.73768 25.1427 2.80253 27.4632 3.87157C27.5386 3.9072 27.6162 3.93655 27.6895 3.97637C27.9327 4.10424 28.0396 4.32014 27.9872 4.57797C27.939 4.81483 27.7545 4.96785 27.482 4.97833C26.0881 5.03493 24.692 5.08943 23.2981 5.14393C23.1723 5.14812 23.0487 5.1586 22.9229 5.16908C22.5246 5.20262 22.2794 5.41643 22.1787 5.82518C21.3193 9.29012 20.462 12.7551 19.6026 16.22C19.5082 16.5994 19.4013 16.9788 19.3238 17.3624C19.2483 17.7355 19.0198 17.9137 18.6614 17.9766C18.2212 18.0562 17.7852 18.1527 17.3492 18.2575C17.8879 18.2763 18.3092 18.5614 18.6991 18.8716C19.2106 19.2804 19.3909 19.8485 19.2777 20.4878C19.1645 21.1334 18.8144 21.6218 18.1751 21.8272C17.9382 21.9027 17.6406 21.9404 17.4142 21.865C16.6742 21.6197 16.0098 21.2571 15.819 20.3976C15.8127 20.3662 15.796 20.3369 15.7729 20.2803C14.8087 20.4878 13.8423 20.6932 12.8718 20.9028C12.9431 21.104 13.0311 21.2885 13.0689 21.4793C13.2638 22.4351 12.7922 23.2631 11.872 23.6027C11.851 23.611 11.8384 23.6341 11.8217 23.6488H11.1697L11.1656 23.6551ZM20.3467 8.91491C20.5228 8.19593 20.6674 7.5021 20.8687 6.82295C21.1055 6.01803 21.0573 5.09362 21.8308 4.49203C20.2377 3.69339 18.674 2.90943 17.0998 2.11918C17.0767 2.17787 17.0578 2.2156 17.0474 2.25333C16.777 3.38735 16.5045 4.52137 16.2382 5.65749C16.102 6.24232 16.1041 6.24441 16.6051 6.55883C17.8397 7.33651 19.0764 8.11418 20.3488 8.91282L20.3467 8.91491ZM19.9107 10.028C19.917 10.0091 19.9233 9.99024 19.9296 9.97137C18.1437 8.83526 16.3556 7.69914 14.5362 6.54207C14.511 6.99064 14.4984 7.3973 14.4607 7.80185C14.4439 7.96326 14.5005 8.03872 14.6263 8.12047C15.5444 8.71578 16.4646 9.30899 17.3681 9.92526C17.7056 10.1558 18.0242 10.3005 18.4518 10.2124C18.9297 10.1118 19.4244 10.0867 19.9107 10.028ZM17.7286 1.54903C17.8083 1.60982 17.8271 1.62658 17.8481 1.63707C19.4663 2.45037 21.0846 3.26158 22.7049 4.0707C22.7887 4.11262 22.8977 4.1273 22.9921 4.1231C23.7027 4.09585 24.4112 4.06022 25.1197 4.02668C25.2035 4.02249 25.2852 4.01201 25.3691 4.00362C25.2727 3.9093 25.1762 3.86528 25.0777 3.82126C23.4385 3.09389 21.7952 2.37282 20.1602 1.63707C19.7472 1.45051 19.3427 1.32474 18.8815 1.40858C18.5231 1.47356 18.1562 1.49872 17.7286 1.54693V1.54903ZM9.07569 16.5638C9.74855 16.4464 10.4047 16.3353 11.0566 16.2137C11.1006 16.2053 11.1656 16.1068 11.1593 16.0565C11.0985 15.4444 11.0251 14.8345 10.9559 14.2119C10.2076 14.302 9.48234 14.3901 8.73611 14.4802C8.8493 15.1803 8.9604 15.8616 9.07569 16.5638ZM11.5219 14.1469C11.5932 14.803 11.6602 15.4319 11.7315 16.0942C12.4463 15.9685 13.1485 15.8448 13.8591 15.719C13.8885 15.0902 13.9157 14.4865 13.9451 13.8535C13.115 13.9541 12.3226 14.0505 11.5198 14.1469H11.5219ZM14.0624 11.6839C13.1255 11.7908 12.2199 11.8914 11.2892 11.9984C11.3479 12.5455 11.4045 13.0527 11.4632 13.5851C12.3226 13.4824 13.1443 13.3839 13.9765 13.2854C14.0058 12.7509 14.031 12.2457 14.0624 11.6839ZM17.3513 11.3129C16.4667 11.4135 15.622 11.5058 14.7793 11.6064C14.7269 11.6127 14.6389 11.686 14.6389 11.73C14.6284 12.2184 14.6326 12.709 14.6326 13.2078C15.427 13.1135 16.2508 13.0129 17.0809 12.9144C17.171 12.3799 17.257 11.8663 17.3492 11.3129H17.3513ZM14.4418 15.6163C15.1692 15.4864 15.8588 15.369 16.5443 15.2348C16.6156 15.2201 16.7141 15.1258 16.7267 15.0545C16.821 14.5494 16.8964 14.04 16.9845 13.4887C16.1523 13.5872 15.3474 13.6837 14.5341 13.7822C14.5026 14.3985 14.4712 14.9875 14.4397 15.6163H14.4418ZM5.99015 6.83133C5.99015 6.88793 5.98596 6.9047 5.99015 6.91937C6.07609 7.2317 6.16413 7.54403 6.25217 7.85635C6.36396 8.25183 6.62389 8.43419 7.03194 8.40345C7.09901 8.39926 7.16609 8.39926 7.23107 8.39507C7.71948 8.35733 8.20998 8.3196 8.71305 8.27978C8.63969 7.73687 8.57052 7.21283 8.49925 6.67412C7.64821 6.72653 6.82651 6.77893 5.99015 6.83133ZM8.65227 13.9247C9.42575 13.8304 10.1573 13.7424 10.8993 13.6522C10.8386 13.1051 10.782 12.5874 10.7254 12.0549C9.93301 12.1325 9.17421 12.208 8.38186 12.2876C8.47409 12.8431 8.56003 13.3734 8.65227 13.9268V13.9247ZM5.38017 6.86697C4.37611 6.92776 3.39301 6.98855 2.35961 7.05143C3.03876 7.56918 3.66761 8.0492 4.30065 8.52712C4.34467 8.56066 4.40546 8.59839 4.45576 8.5942C4.91692 8.56695 5.37598 8.52922 5.8518 8.49358C5.6904 7.93601 5.53948 7.41826 5.38017 6.86697ZM11.2368 16.7566C10.5241 16.8845 9.84917 17.004 9.17002 17.1255C9.25386 17.6559 9.32723 18.1506 9.41317 18.6411C9.42365 18.6956 9.52217 18.7815 9.56409 18.7731C10.1762 18.6578 10.7861 18.5279 11.4129 18.3979C11.3542 17.855 11.2976 17.3289 11.2368 16.7566ZM9.0673 6.64268C9.14067 7.19606 9.20775 7.71382 9.27692 8.24414C9.98123 8.18964 10.6604 8.13724 11.3186 8.08693V6.50643C10.5535 6.55255 9.81982 6.59657 9.0673 6.64268ZM14.3266 17.8005C14.991 17.6664 15.6115 17.5427 16.2299 17.4127C16.2865 17.4001 16.3682 17.3519 16.3787 17.3058C16.4751 16.8195 16.5611 16.3311 16.6491 15.8364C16.6009 15.828 16.5757 15.8175 16.5548 15.8217C15.8819 15.937 15.209 16.0523 14.5383 16.1781C14.488 16.1865 14.4188 16.2703 14.4146 16.3248C14.379 16.8048 14.3559 17.287 14.3286 17.8005H14.3266ZM10.0881 19.7353C10.3124 19.9197 10.4717 20.0476 10.7778 19.9637C11.0398 19.8925 11.3458 19.9847 11.633 20.0057C11.7546 20.014 11.8803 20.056 11.9935 20.0329C13.2575 19.7688 14.5194 19.4963 15.7813 19.2238C15.8567 19.207 15.928 19.1756 16.0706 19.1274C15.8211 18.9765 15.6387 18.8507 15.4396 18.7543C15.3432 18.7081 15.2132 18.683 15.1105 18.704C13.901 18.9429 12.6937 19.1924 11.4863 19.4418C11.0314 19.5361 10.5786 19.6325 10.0881 19.7353ZM11.9118 6.4687V8.0492C12.5951 7.9968 13.2303 7.94649 13.8864 7.89618C13.9199 7.36795 13.9534 6.86487 13.987 6.34293C13.2701 6.38695 12.5847 6.42887 11.9139 6.4687H11.9118ZM11.9705 18.2868C12.5742 18.161 13.1569 18.0416 13.7417 17.92C13.7711 17.3708 13.7983 16.851 13.8256 16.3018C13.1653 16.417 12.5343 16.524 11.9076 16.6455C11.8657 16.6539 11.8133 16.7734 11.8175 16.8363C11.8594 17.3163 11.916 17.7942 11.9684 18.2868H11.9705ZM6.58755 9.00714C6.73428 9.50603 6.87263 9.98185 7.01307 10.4619C7.67755 10.3927 8.31478 10.3256 8.96669 10.2565C8.9038 9.77014 8.84301 9.31737 8.78223 8.84574C8.05067 8.90024 7.33588 8.95264 6.58755 9.00924V9.00714ZM9.52846 10.204C10.1615 10.137 10.7694 10.0741 11.3605 10.0133V8.65289C10.6834 8.7032 10.0294 8.75351 9.35028 8.80591C9.41107 9.27335 9.46767 9.72193 9.53055 10.2061L9.52846 10.204ZM17.3262 15.107C17.8586 15.0105 18.347 14.9246 18.8354 14.8324C18.8794 14.824 18.9381 14.7695 18.9465 14.7275C19.066 14.2308 19.1771 13.7319 19.2965 13.2057C18.7599 13.2728 18.2568 13.3336 17.7559 13.407C17.6993 13.4154 17.6154 13.4824 17.6049 13.5327C17.5064 14.0379 17.4226 14.5473 17.3241 15.109L17.3262 15.107ZM18.0032 11.3003C17.9131 11.8118 17.825 12.3044 17.7307 12.8347C18.2925 12.7718 18.8144 12.7173 19.3322 12.6482C19.3804 12.6419 19.4412 12.5559 19.4558 12.4951C19.5418 12.1639 19.6172 11.8328 19.6927 11.4995C19.72 11.3758 19.7367 11.25 19.7619 11.1096C19.1603 11.1746 18.5985 11.2354 18.0032 11.3003ZM13.7753 9.76805C13.8004 9.31737 13.8235 8.90862 13.8465 8.46843C13.18 8.51664 12.5595 8.56276 11.9558 8.60678V9.9546C12.5805 9.88962 13.1674 9.83093 13.7753 9.76805ZM16.9279 10.3759C16.9363 10.355 16.9426 10.3361 16.9509 10.3151C16.1188 9.76385 15.2866 9.21257 14.4146 8.63403C14.3852 9.05116 14.3538 9.42218 14.337 9.7953C14.337 9.84141 14.402 9.90639 14.4523 9.93574C14.7667 10.1244 15.0854 10.3089 15.4061 10.4891C15.4543 10.5164 15.5151 10.5436 15.5675 10.5373C16.0223 10.487 16.4751 10.4304 16.9279 10.3738V10.3759ZM18.7872 15.4193C18.4099 15.4885 18.0829 15.5471 17.758 15.6079C17.2528 15.7044 17.2507 15.7044 17.1543 16.2095C17.0893 16.547 17.0369 16.8866 16.9719 17.2618C17.4331 17.1654 17.8397 17.0836 18.2443 16.9914C18.2967 16.9788 18.3658 16.9222 18.3805 16.8719C18.5189 16.4024 18.6467 15.9307 18.7893 15.4193H18.7872ZM3.86884 9.50393C3.98623 10.0741 4.08684 10.5772 4.19374 11.0802C4.20213 11.118 4.22938 11.1578 4.25873 11.1809C4.69263 11.5037 5.12863 11.8244 5.60026 12.1702C5.49126 11.6378 5.39274 11.1494 5.29213 10.661C5.28374 10.6233 5.26907 10.573 5.24182 10.552C4.80373 10.2124 4.36144 9.87705 3.87094 9.50183L3.86884 9.50393ZM6.11173 14.6353C5.99434 14.0715 5.89582 13.5851 5.79101 13.0988C5.78053 13.0527 5.75748 12.9982 5.72184 12.9731C5.29213 12.6524 4.85823 12.3358 4.38449 11.9879C4.4914 12.4805 4.58363 12.9207 4.68005 13.3567C4.69263 13.4091 4.71778 13.4699 4.75761 13.5034C5.18942 13.8681 5.62332 14.2287 6.11173 14.6353ZM6.46388 13.5181C6.58755 14.1197 6.69446 14.6479 6.80346 15.174C6.80975 15.2034 6.83071 15.2369 6.85586 15.2579C7.21011 15.5576 7.56436 15.8553 7.96053 16.1886C7.87459 15.6058 7.79703 15.0797 7.71528 14.5557C7.7048 14.4886 7.66707 14.4089 7.61677 14.3691C7.26042 14.0966 6.89569 13.8346 6.46598 13.5181H6.46388ZM6.03417 11.1515C6.0153 11.162 5.99434 11.1704 5.97548 11.1809C6.074 11.6588 6.17251 12.1388 6.27523 12.6167C6.28361 12.6545 6.30876 12.6964 6.33811 12.7194C6.73009 13.0129 7.12417 13.3022 7.57275 13.6313C7.47632 13.103 7.39248 12.6398 7.30234 12.1765C7.29396 12.1325 7.25832 12.0864 7.22269 12.057C6.82861 11.7531 6.43034 11.4534 6.03207 11.1515H6.03417ZM6.6169 16.9767C6.55192 16.6895 6.47646 16.4736 6.46178 16.2556C6.42825 15.7106 6.14946 15.3375 5.71555 15.0378C5.44096 14.8491 5.1978 14.6144 4.89386 14.3628C5.00286 14.8575 5.09509 15.2872 5.19151 15.7169C5.20199 15.763 5.22715 15.8134 5.26069 15.8427C5.69249 16.2074 6.1264 16.568 6.6148 16.9767H6.6169ZM3.99042 12.8557C3.89399 12.3882 3.81434 11.9984 3.73049 11.6064C3.71792 11.5519 3.69905 11.4827 3.65713 11.4534C3.26515 11.1557 2.86688 10.8622 2.42669 10.5373C2.53988 10.9691 2.63421 11.3402 2.73482 11.7091C2.74949 11.7636 2.77255 11.8265 2.81238 11.8621C3.18549 12.1828 3.5628 12.4972 3.98832 12.8557H3.99042ZM4.50607 15.218C4.40126 14.738 4.31532 14.3335 4.22519 13.9289C4.21051 13.8639 4.19794 13.7843 4.15392 13.7465C3.79548 13.4321 3.42865 13.1282 3.00942 12.7739C3.14776 13.298 3.26305 13.7486 3.38463 14.1972C3.4014 14.258 3.43703 14.323 3.48524 14.3649C3.80176 14.6353 4.12248 14.9015 4.50398 15.2201L4.50607 15.218ZM7.07176 16.1865C7.05709 16.197 7.04032 16.2053 7.02565 16.2158C7.08225 16.4841 7.13884 16.7524 7.19753 17.0186C7.23736 17.1968 7.22478 17.4274 7.33378 17.5427C7.61467 17.8382 7.95005 18.0835 8.32107 18.3958C8.23932 17.9095 8.17225 17.5091 8.10098 17.1067C8.09259 17.0627 8.06115 17.0145 8.02551 16.9851C7.709 16.7168 7.39038 16.4506 7.07176 16.1844V16.1865ZM2.17305 9.3572C2.25061 9.54795 2.26948 9.74918 2.37848 9.83932C2.72015 10.116 3.09746 10.3487 3.51878 10.64C3.41398 10.1391 3.32384 9.70516 3.23161 9.26078C2.87946 9.29222 2.55665 9.32366 2.17305 9.3572ZM11.4548 21.2277C11.6037 21.7098 11.5408 22.1165 11.1173 22.412C11.3081 22.6573 11.4695 22.7034 11.6959 22.5797C11.9977 22.4141 12.1528 21.9551 12.0292 21.5925C11.9265 21.2948 11.7567 21.1795 11.4548 21.2277ZM17.7014 19.6053C17.8146 20.1063 17.7663 20.2635 17.3681 20.7184C17.5756 20.9489 17.7328 20.9846 17.9529 20.8483C18.2547 20.6618 18.3847 20.1964 18.2317 19.8443C18.1311 19.6095 17.9676 19.5319 17.6993 19.6032L17.7014 19.6053ZM11.9893 10.5185V10.8874C12.5784 10.8287 13.1464 10.7721 13.7187 10.7155V10.3424C13.1359 10.4011 12.57 10.4598 11.9893 10.5185ZM11.4003 10.944V10.5793C10.7903 10.6421 10.2013 10.7029 9.59344 10.7637C9.62069 10.8979 9.64165 10.9985 9.66471 11.1159C10.2558 11.0572 10.8239 11.0006 11.3982 10.944H11.4003ZM7.26042 19.0813C7.36523 19.5592 7.24155 19.9386 6.81394 20.1901C6.95438 20.3515 7.09482 20.4333 7.28767 20.3473C7.57484 20.2195 7.67546 19.9721 7.70061 19.687C7.72996 19.3747 7.55388 19.1965 7.26042 19.0813ZM6.29828 10.0447C6.18928 9.66533 6.09915 9.3593 6.00901 9.05116C5.70717 9.07422 5.42838 9.09518 5.08461 9.12243C5.50384 9.44314 5.87067 9.72193 6.29828 10.0468V10.0447ZM7.5958 10.9649C7.58951 10.9817 7.58113 10.9985 7.57484 11.0153C7.70061 11.1012 7.82638 11.2563 7.95215 11.2584C8.32107 11.2647 8.69209 11.2081 9.07569 11.1767C9.06521 11.0362 9.05682 10.9398 9.04844 10.8224C8.54746 10.8727 8.07373 10.9188 7.5979 10.9649H7.5958ZM1.86492 7.98212C1.85234 7.9947 1.83767 8.00937 1.82509 8.02195C1.8754 8.23157 1.92151 8.44118 1.9823 8.6466C1.99697 8.69691 2.06405 8.77237 2.10388 8.77237C2.32398 8.76818 2.54617 8.74303 2.83544 8.72207C2.47699 8.44957 2.17305 8.21689 1.86701 7.98422L1.86492 7.98212Z" fill="black"/>
</svg>

      {% if cart.item_count > 0 %}
        <span class="header__cart-count">{{ cart.item_count }}</span>
      {% endif %}
    </a>

    <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="header__action header__action--account" aria-label="Account">
      <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23 11.9885C23 5.64625 17.848 0.5 11.5 0.5C5.152 0.5 0 5.64625 0 11.9885C0 15.4816 1.587 18.6297 4.071 20.7429C4.094 20.7659 4.117 20.7659 4.117 20.7889C4.324 20.9499 4.531 21.1109 4.761 21.2719C4.876 21.3409 4.968 21.4314 5.083 21.5234C6.98424 22.8104 9.22716 23.4988 11.523 23.5C13.8188 23.4988 16.0618 22.8104 17.963 21.5234C18.078 21.4544 18.17 21.3639 18.285 21.2934C18.492 21.1339 18.722 20.9729 18.929 20.8119C18.952 20.7889 18.975 20.7889 18.975 20.7659C21.413 18.6283 23 15.4816 23 11.9885ZM11.5 22.0524C9.338 22.0524 7.36 21.3624 5.727 20.2139C5.75 20.0299 5.796 19.8473 5.842 19.6633C5.9795 19.1648 6.18048 18.686 6.44 18.2388C6.693 17.8018 6.992 17.4107 7.36 17.0658C7.705 16.7208 8.119 16.4002 8.533 16.1472C8.97 15.8942 9.43 15.7102 9.936 15.5722C10.4461 15.4356 10.9719 15.3665 11.5 15.3666C13.068 15.3548 14.5784 15.9563 15.709 17.0428C16.238 17.5718 16.652 18.1923 16.951 18.9043C17.112 19.3183 17.227 19.7548 17.296 20.2139C15.5986 21.4072 13.5749 22.0491 11.5 22.0524ZM7.981 11.4149C7.77876 10.9508 7.67687 10.4492 7.682 9.94294C7.682 9.43837 7.774 8.93237 7.981 8.47237C8.188 8.01237 8.464 7.59981 8.809 7.25481C9.154 6.90981 9.568 6.63525 10.028 6.42825C10.488 6.22125 10.994 6.12925 11.5 6.12925C12.029 6.12925 12.512 6.22125 12.972 6.42825C13.432 6.63525 13.846 6.91125 14.191 7.25481C14.536 7.59981 14.812 8.01381 15.019 8.47237C15.226 8.93237 15.318 9.43837 15.318 9.94294C15.318 10.4719 15.226 10.9549 15.019 11.4135C14.8204 11.8673 14.5397 12.2806 14.191 12.6325C13.839 12.9806 13.4257 13.2609 12.972 13.4591C12.0214 13.8489 10.9556 13.8489 10.005 13.4591C9.55129 13.2609 9.13804 12.9806 8.786 12.6325C8.43704 12.2856 8.16305 11.8721 7.981 11.4149ZM18.653 19.0423C18.653 18.9963 18.63 18.9733 18.63 18.9273C18.4042 18.2076 18.0708 17.5261 17.641 16.9062C17.2109 16.2817 16.6828 15.7307 16.077 15.2746C15.6142 14.9264 15.1125 14.6331 14.582 14.4006C14.8222 14.2399 15.0457 14.0555 15.249 13.8501C15.5919 13.5115 15.893 13.1332 16.146 12.7231C16.6571 11.8869 16.9203 10.9228 16.905 9.94294C16.9125 9.2177 16.7716 8.49859 16.491 7.82981C16.2143 7.18531 15.816 6.60014 15.318 6.10625C14.8195 5.61901 14.2345 5.22901 13.593 4.95625C12.9232 4.67573 12.2031 4.53532 11.477 4.54369C10.7508 4.53578 10.0307 4.67667 9.361 4.95769C8.71246 5.22712 8.12555 5.62573 7.636 6.12925C7.14622 6.62514 6.75586 7.21019 6.486 7.85281C6.20537 8.52159 6.06448 9.2407 6.072 9.96594C6.072 10.4719 6.141 10.9545 6.279 11.4135C6.417 11.8965 6.601 12.3335 6.854 12.7461C7.084 13.1601 7.406 13.5281 7.751 13.8731C7.958 14.0801 8.188 14.2636 8.441 14.4236C7.90811 14.6609 7.40609 14.9621 6.946 15.3206C6.348 15.7806 5.819 16.3312 5.382 16.9292C4.94827 17.5468 4.61451 18.2289 4.393 18.9503C4.37 18.9963 4.37 19.0423 4.37 19.0653C2.553 17.2267 1.426 14.7456 1.426 11.9885C1.426 6.45125 5.957 1.92456 11.5 1.92456C17.043 1.92456 21.574 6.45125 21.574 11.9885C21.571 14.6334 20.5208 17.1696 18.653 19.0423Z" fill="black"/>
</svg>

    </a>
  </div>

  {%- assign main_menu = linklists['top-menu'] -%}
<nav id="MobileNav" class="mobile-nav" aria-label="Mobile navigation" hidden>
  <div class="mobile-nav__overlay" data-close></div>

  <div class="mobile-nav__sheet" role="dialog" aria-modal="true">
    <!-- Header row inside the sheet -->
    <div class="mobile-nav__top">
  <div class="mobile-nav__crumbs">
    <button class="mobile-nav__back" type="button" aria-label="Go back" disabled data-back>Back</button>
    <span style="display: none;" class="mobile-nav__title" data-title>Menu</span>
  </div>
</div>

    <!-- Sliding rail (100vw panels) -->
    <div class="mobile-nav__rail" data-rail>
      <!-- ROOT PANEL: top-level links -->
      <section class="mobile-panel is-active" data-panel="root" aria-label="Top level">
  <ul class="mobile-list">
    {%- for top_link in main_menu.links -%}
      <li>
        {%- if top_link.links.size > 0 -%}
          <button class="mobile-link has-children"
                  data-target="top-{{ forloop.index }}"
                  data-title="{{ top_link.title | escape }}">
            <span>{{ top_link.title }}</span>
            <svg width="16" height="16" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M8 5l8 7-8 7" fill="none" stroke="currentColor" stroke-width="2"/>
            </svg>
          </button>
        {%- else -%}
          <a class="mobile-link" href="{{ top_link.url }}">{{ top_link.title }}</a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</section>


      {%- comment -%}
        CHILD PANELS: one per top link with children.
        Each panel shows 2nd-level headings with their 3rd-level lists.
      {%- endcomment -%}
      {%- for top_link in main_menu.links -%}
        {%- if top_link.links.size > 0 -%}
          <section class="mobile-panel" data-panel="top-{{ forloop.index }}" aria-label="{{ top_link.title | escape }}">
            <ul class="mobile-list mobile-list--sections">
              {%- for second in top_link.links -%}
                <li class="mobile-section">
                  <h3 class="mobile-section__title">
                    <a href="{{ second.url }}">{{ second.title }}</a>
                  </h3>
                  {%- if second.links.size > 0 -%}
                    <ul class="mobile-sublist">
                      {%- for third in second.links -%}
                        <li><a class="mobile-sublink" href="{{ third.url }}">{{ third.title }}</a></li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>

            {%- comment -%}
              Optional: show your “mega menu content” block if mapped by index (same logic as desktop).
            {%- endcomment -%}
            {%- assign top_index = forloop.index -%}
            {%- assign mega_block = nil -%}
            {%- for block in section.blocks -%}
              {%- if block.type == 'mega_menu_content' -%}
                {%- assign selector_index = block.settings.menu_selector | plus: 0 -%}
                {%- if selector_index == top_index -%}
                  {%- assign mega_block = block -%}{% break %}
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if mega_block -%}
              <a href="{{ mega_block.settings.link }}" class="mobile-mega-extra">
                {%- if mega_block.settings.image -%}
                  <img src="{{ mega_block.settings.image | img_url: '800x' }}" alt="">
                {%- endif -%}
                {%- if mega_block.settings.text -%}
                  <span class="mobile-mega-extra__text">{{ mega_block.settings.text }}</span>
                {%- endif -%}
              </a>
            {%- endif -%}
          </section>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</nav>

</header>

<style>
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: var(--offwhite);
    position: relative;
    border-bottom: solid 1px var(--black);
  }

  .header__logo-link,
  .header__nav-link,
  .header__action {
    text-decoration: none;
    color: var(--black);
  }

  .header__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .header__nav-item {
    margin: 0 10px;
  }

  .header__nav-item[aria-expanded="true"] .header__nav-link{
color: var(--red);
  }

  .header__nav-item[aria-expanded="true"] .header__nav-link svg{
    opacity: 1;
  }

  .header__nav-link{
    font-family: "garamond-premier-pro-display" !important;
    font-style: italic;
    font-feature-settings: 'swsh' on;
    font-size: 20px;
    letter-spacing: 0.05em;
    position: relative;
  }
  .header__nav-link:hover svg{
    opacity: 1;
  }

  .header__nav-link svg{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .header__mega-menu {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: 0;
    width: 100%;
    background: var(--offwhite);
    padding: 10px 40px;
    box-sizing: border-box;
    z-index: 1000;
  }

  .header__mega-menu-columns {
    display: flex;
    gap: 60px;
    justify-content: center;
  }

  .header__mega-menu-column {
    min-width: 150px;
  }

  .header__mega-menu-column-title {
    font-family: "garamond-premier-pro-display" !important;
    font-style: italic;
    font-feature-settings: 'swsh' on;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: var(--black);
    margin: 0px 0px 10px 0px;
  }

  .header__mega-menu-column-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header__mega-menu-item {
    font-family: "garamond-premier-pro-display" !important;
    font-size: 16px;
    letter-spacing: 0em;
    margin: 0px 0px 5px 0px;
  }

  .header__mega-menu-item a{
    text-decoration: none;
  }

  .header__mega-menu-item a:hover{
  color: var(--red);
  }

  .header__action {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }

  .header__cart-count {
    background: var(--red);
    color: var(--white);
    border-radius: 9999px;
    padding: 0 6px;
    font-size: 0.75rem;
    position: relative;
    top: -10px;
    left: -10px;
  }

  .header__mega-menu-extra{
    background-color: var(--black);
  }

  .header__mega-menu-extra:hover .header__mega-menu-extra-text-overlay{
    color: var(--red);
  }

  .header__mega-menu-extra img{
    opacity: 0.5
  }

  .header__mega-menu-extra-text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--white);
    font-family: 'Empera';
    font-size: 28px;
    text-align: center;
  }

  /* MOBILE ONLY */
  @media all and (max-width: 1120px) and (min-width: 700px){
    .mobile-list{
display: flex !important;
flex-wrap: wrap;
    }
    .mobile-list li{
      width: calc(50% - 10px)
    }
    .mobile-mega-extra{
      width: calc(50% - 10px)
    }
  }
@media (max-width: 1120px) {
  .header{
    padding: 20px;
  }
  .header__nav { display: none; }
  .header__hamburger { 
    order: -1;
    display: inline-flex; align-items: center; justify-content: center;
    width: 44px; height: 44px;
    appearance: none;
    border: none;
    background: none;
  }
  .header__hamburger svg{
    width: 44px;
    height: 44px;
  }
  .header__hamburger .hamburger-box {
    width: 20px; height: 2px; background: var(--black); position: relative; display: none;
  }
  .header__hamburger .hamburger-box::before,
  .header__hamburger .hamburger-box::after {
    content: ""; position: absolute; left: 0; width: 100%; height: 2px; background: var(--black);
  }
  .header__hamburger .hamburger-box::before { top: -6px; }
  .header__hamburger .hamburger-box::after  { top:  6px; }
}
@media (min-width: 1121px) { .header__hamburger{ display:none; } }

/* Mobile nav shell */
.mobile-nav[hidden] { display: none !important; }
.mobile-nav {
  position: fixed; inset: 0; z-index: 2000;
  top: 121px;
}
.mobile-nav__overlay {
  position: absolute; inset: 0; background: rgba(0,0,0,.3);
  opacity: 0; transition: opacity .25s ease;
}
.mobile-nav.open .mobile-nav__overlay { opacity: 1; }

.mobile-nav__sheet {
  position: absolute; top: 0; right: 0; bottom: 0; width: 100vw; max-width: 100%;
  background: var(--offwhite); transform: translateX(100%); transition: transform .35s ease;
  display: grid; grid-template-rows: auto 1fr;
  border-left: 1px solid var(--black);
}
.mobile-nav.open .mobile-nav__sheet { transform: translateX(0); }

/* Top bar */
.mobile-nav__top {
  display: flex; align-items: center; gap: 12px; padding: 20px 20px; border-bottom: 1px solid var(--black);
}
.mobile-nav__close {
  background: transparent; border: 1px solid var(--black); width: 36px; height: 36px; border-radius: 8px; font-size: 22px; line-height: 1;

    appearance: none;
    border: none;
    background: none;;
}
.mobile-nav__crumbs { display: flex; align-items: center; gap: 12px; }
.mobile-nav__back {
  background: transparent; border: 1px solid var(--black); border-radius: 8px; padding: 0px; opacity: 1;

    appearance: none;
    border: none;
    background: none;;

font-family: "garamond-premier-pro-display" !important;
font-size: 16px;
}
.mobile-nav__back:not([disabled]) { opacity: 1; cursor: pointer; }
.mobile-nav__title { font-family: "garamond-premier-pro-display"; font-style: italic;
    font-feature-settings: 'swsh' on; }

/* Sliding rail */
.mobile-nav__rail {
  position: relative; height: 100%; overflow: hidden;
}
.mobile-nav__rail > .mobile-panel {
  position: absolute; inset: 0; width: 100vw; padding: 20px 20px; overflow-y: auto; box-sizing: border-box;
  transform: translateX(100%); transition: transform .35s ease;
  display: block;
}
.mobile-panel[data-panel="root"] { transform: translateX(0); }
.mobile-panel.is-left   { transform: translateX(-100%); }
.mobile-panel.is-center { transform: translateX(0); }
.mobile-panel.is-right  { transform: translateX(100%); }

/* Lists */
.mobile-list { list-style: none; margin: 0; padding: 0; display: grid; gap: 20px; }
.mobile-link,
.mobile-link.has-children {
  width: 100%; display: flex; align-items: center; justify-content: space-between;
  padding: 0px; border: 1px solid var(--black); border-radius: 10px; background: white; text-decoration: none; color: var(--black);
  font-size: 24px;
font-family: "garamond-premier-pro-display" !important;
font-style: italic;
    font-feature-settings: 'swsh' on;
    appearance: none;
    border: none;
    background: none;;
}
.mobile-link:hover { color: var(--red); border-color: var(--red); }

.mobile-list--sections { gap: 20px; }
.mobile-section__title { margin: 0 0 5px 0; font-size: 16px; font-weight: 400; }
.mobile-section__title a { text-decoration: none; color: var(--black); }
.mobile-sublist { list-style: none; margin: 0; padding: 0; display: grid; gap: 6px; }
.mobile-sublink { display: block; padding: 10px 10px; border: 1px dashed var(--black); border-radius: 8px; text-decoration: none; color: var(--black); }
.mobile-sublink:hover { color: var(--red); border-color: var(--red); }

/* Optional extra block (image + text) */
.mobile-mega-extra {
  position: relative; display: block; margin-top: 20px; border-radius: 0px; overflow: hidden; background: var(--black);
}
.mobile-mega-extra img { display: block; width: 100%; height: auto; opacity: .6; }
.mobile-mega-extra__text {
  position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
  color: var(--white); text-align: center; width: 80%;
  font-family: 'Empera'; font-size: 22px;
}

.mobile-section__title{
font-family: "garamond-premier-pro-display" !important;
font-size: 24px;
font-style: italic;
    font-feature-settings: 'swsh' on;
    font-weight:400;
}

.mobile-sublink{
font-family: "garamond-premier-pro-display" !important;
font-size: 20px;
border: none;
padding: 0px;
    font-weight:400;

}

@media (max-width: 1120px) {
  .header {
    display: flex;
    align-items: center;
  }

  /* three equal columns */
  .header__hamburger,
  .header__logo,
  .header__actions {
    flex: 0 0 33.333%;
  }

  /* put hamburger on the left, logo centered, actions on the right */
  .header__hamburger { order: 0; justify-content: flex-start; }
  .header__logo      { order: 1; text-align: center; }
  .header__actions   { order: 2; display: flex; justify-content: flex-end; align-items: center; }

  /* center the logo nicely */
  .header__logo-link { display: inline-block; margin: 0 auto; }
}


</style>

<script>

  const header = document.querySelector('.header');
  const navItems = document.querySelectorAll('.header__nav-item');

  function hideAllMegaMenus() {
    navItems.forEach(item => {
      const megaMenu = item.querySelector('.header__mega-menu');
      if (megaMenu) {
        megaMenu.style.display = 'none';
        item.setAttribute('aria-expanded', 'false');
      }
    });
  }

  navItems.forEach(item => {
    item.addEventListener('mouseenter', () => {
      hideAllMegaMenus();
      const megaMenu = item.querySelector('.header__mega-menu');
      if (megaMenu) {
        megaMenu.style.display = 'block';
        item.setAttribute('aria-expanded', 'true');
      }
    });
  });

  header.addEventListener('mouseleave', () => {
    hideAllMegaMenus();
  });

  // Keyboard accessibility
  navItems.forEach(item => {
    const link = item.querySelector('.header__nav-link');
    const megaMenu = item.querySelector('.header__mega-menu');

    link.addEventListener('focus', () => {
      hideAllMegaMenus();
      if (megaMenu) {
        megaMenu.style.display = 'block';
        item.setAttribute('aria-expanded', 'true');
      }
    });
    link.addEventListener('blur', () => {
      setTimeout(() => {
        if (megaMenu && !item.contains(document.activeElement)) {
          megaMenu.style.display = 'none';
          item.setAttribute('aria-expanded', 'false');
        }
      }, 100);
    });
  });
</script>

<script>
 (function () {
  const body     = document.documentElement;
  const burger   = document.querySelector('.header__hamburger');
  const mobile   = document.getElementById('MobileNav');
  const overlay  = mobile?.querySelector('.mobile-nav__overlay');
  const backBtn  = mobile?.querySelector('[data-back]');
  const titleEl  = mobile?.querySelector('[data-title]');
  const rail     = mobile?.querySelector('[data-rail]');
  const panels   = Array.from(rail?.querySelectorAll('.mobile-panel') || []);
  if (!burger || !mobile || !rail) return;

  const stack = ['root'];
  let animating = false;
  const DURATION = 350; // keep in sync with CSS

  function currentPanelId() { return stack[stack.length - 1]; }
  function panelById(id)    { return panels.find(p => p.dataset.panel === id); }

  function afterFrame(fn){ requestAnimationFrame(() => requestAnimationFrame(fn)); }

  function resetToRoot() {
  // make root the only item on the stack
  stack.length = 0;
  stack.push('root');

  // put panels in their default positions
  panels.forEach(p => {
    if (p.dataset.panel === 'root') {
      p.classList.remove('is-left','is-right');
      p.classList.add('is-center');
      p.setAttribute('aria-hidden','false');
    } else {
      p.classList.remove('is-left','is-center');
      p.classList.add('is-right');
      p.setAttribute('aria-hidden','true');
    }
  });

  // reset chrome
  backBtn.disabled = true;
  if (titleEl) {
    titleEl.textContent = panelById('root')?.getAttribute('aria-label') || 'Menu';
  }
}


  function updateChrome() {
    const id = currentPanelId();
    backBtn.disabled = stack.length <= 1;
    titleEl && (titleEl.textContent = panelById(id)?.getAttribute('aria-label') || 'Menu');
  }

  function setAria(open) {
    burger.setAttribute('aria-expanded', String(open));
    if (open) {
      mobile.removeAttribute('hidden');
      // ensure closed state paints before opening
      requestAnimationFrame(() => mobile.classList.add('open'));
      body.style.overflow = 'hidden';
    } else {
      mobile.classList.remove('open');
      setTimeout(() => mobile.setAttribute('hidden',''), DURATION);
      body.style.overflow = '';
    }
  }

  function openMenu(){ setAria(true); updateChrome(); }
  function closeMenu(){ setAria(false); while (stack.length > 1) stack.pop(); updateChrome(); 
  resetToRoot();   }

  // --- NEW: staged transitions for panel nav ---
  function goForward(targetId, label){
    if (animating) return;
    const fromId = currentPanelId();
    const fromEl = panelById(fromId);
    const toEl   = panelById(targetId);
    if (!toEl) return;

    // 1) Stage the entering panel offscreen right
    toEl.classList.remove('is-left','is-center');
    toEl.classList.add('is-right');
    toEl.setAttribute('aria-hidden','true');

    // 2) Next frame: push stack, move from->left and to->center (animates)
    animating = true;
    afterFrame(() => {
      stack.push(targetId);
      if (label) toEl.setAttribute('aria-label', label);

      fromEl?.classList.remove('is-center','is-right');
      fromEl?.classList.add('is-left');
      fromEl?.setAttribute('aria-hidden','true');

      toEl.classList.remove('is-left','is-right');
      toEl.classList.add('is-center');
      toEl.setAttribute('aria-hidden','false');

      updateChrome();
      setTimeout(()=> animating = false, DURATION);
    });
  }

  function goBack(){
    if (animating || stack.length <= 1) return;
    const fromId = stack[stack.length - 1];
    const toId   = stack[stack.length - 2];
    const fromEl = panelById(fromId);
    const toEl   = panelById(toId);
    if (!toEl) return;

    // 1) Stage the target panel offscreen left so it can slide to center
    toEl.classList.remove('is-right','is-center');
    toEl.classList.add('is-left');
    toEl.setAttribute('aria-hidden','true');

    // 2) Next frame: pop stack, move from->right and to->center (animates)
    animating = true;
    afterFrame(() => {
      stack.pop();

      fromEl?.classList.remove('is-left','is-center');
      fromEl?.classList.add('is-right');
      fromEl?.setAttribute('aria-hidden','true');

      toEl.classList.remove('is-left','is-right');
      toEl.classList.add('is-center');
      toEl.setAttribute('aria-hidden','false');

      updateChrome();
      setTimeout(()=> animating = false, DURATION);
    });
  }

  // Toggle on hamburger
  burger.addEventListener('click', () => {
    if (mobile.classList.contains('open')) closeMenu();
    else openMenu();
  });

  overlay?.addEventListener('click', closeMenu);
  backBtn?.addEventListener('click', goBack);

  // Forward nav (second layer)
  rail.addEventListener('click', (e) => {
    const btn = e.target.closest('.mobile-link.has-children');
    if (!btn || animating) return;
    const targetId = btn.getAttribute('data-target');
    const label = btn.getAttribute('data-title') || 'Menu';
    goForward(targetId, label);
  });

  // ESC to close or step back
  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape' && mobile.classList.contains('open')) {
      if (stack.length > 1) goBack();
      else closeMenu();
    }
  });

  // Close if breakpoint flips to desktop
  const mql = window.matchMedia('(min-width: 901px)');
  mql.addEventListener('change', (ev) => { if (ev.matches) closeMenu(); });
})();

</script>




{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 5,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {"value":"top-left","label":"t:sections.header.settings.logo_position.options__2.label"},
        {"value":"top-center","label":"t:sections.header.settings.logo_position.options__3.label"},
        {"value":"middle-left","label":"t:sections.header.settings.logo_position.options__1.label"},
        {"value":"middle-center","label":"t:sections.header.settings.logo_position.options__4.label"}
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu_content",
      "name": "Mega Menu Content",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "number",
          "id": "menu_selector",
          "label": "Menu Selector (tab index)",
          "default": 1
        }
      ]
    }
  ]
}
{% endschema %}









