{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  {%- if section.settings.image != blank -%}
    <div data-opacity="{{ section.settings.image_overlay_opacity }}" class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = 'banner__media-image-half'
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div data-opacity="{{ section.settings.image_overlay_opacity }}" class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = 'banner__media-image-half'
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_2.width,
          height: image_height_2,
          class: image_class_2,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2
              class="banner__heading inline-richtext {{ block.settings.heading_size }}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.heading }}
            </h2>
          {%- when 'text' -%}
            <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <p>{{ block.settings.text }}</p>
            </div>
              {%- when 'image' -%}
  {%- if block.settings.image != blank -%}
    {%- liquid
      assign alt_text = block.settings.alt
      if alt_text == blank and block.settings.image != blank
        assign alt_text = block.settings.image.alt
      endif
      assign widths = '375, 550, 750, 1100, 1500, 2000'
      assign sizes  = '(min-width: 750px) 800px, 90vw'
      assign maxw   = block.settings.max_width | default: 800
      assign anim_order = forloop.index
    -%}
    <div
      class="rich-text__image {% if block.settings.alignment == 'center' %}rich-text__image--center{% elsif block.settings.alignment == 'right' %}rich-text__image--right{% else %}rich-text__image--left{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {{ block.shopify_attributes }}
      style="--image-max-width: {{ maxw }}px;{% if settings.animations_reveal_on_scroll %} --animation-order: {{ anim_order }};{% endif %}"
    >
      {{
        block.settings.image
        | image_url: width: 2000
        | image_tag: loading: 'lazy', sizes: sizes, widths: widths, alt: alt_text
      }}
    </div>
  {%- endif -%}
          {%- when 'buttons' -%}
            <div
              class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.button_label_1 != blank -%}
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="norwesterLarge button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                >
                 <div class="spacer"></div>
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 153 29" class="buttonBorder">
              <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
              <defs>
                <style>
                  .st0 {
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path class="st0" d="M151.1,14c-1.3-1-1.3-3.3-1.3-5.2,0-.4,0-.8,0-1.2C149.6,1.5,146.3,0,140.2,0H12.8c-6.1,0-9.4,1.5-9.6,7.7,0,.4,0,.8,0,1.2,0,1.9,0,4.2-1.3,5.2-.3.3-.8.4-1.4.5.6,0,1,.2,1.4.5,1.3,1,1.3,3.3,1.3,5.1,0,.4,0,.8,0,1.2.2,5.2,2.5,7.1,6.9,7.6.8,0,1.8.1,2.8.1h127.4c1,0,1.9,0,2.8-.1,4.4-.5,6.8-2.4,6.9-7.6,0-.4,0-.8,0-1.2,0-1.9,0-4.2,1.3-5.1.3-.3.8-.4,1.4-.5-.6,0-1-.2-1.4-.5ZM150.2,14.8c-.5.6-.8,1.4-.9,2.1-.1.8-.2,1.6-.2,2.3,0,.3,0,.6,0,.9h0c0,.4,0,.8,0,1.1-.1,2.9-.9,4.6-2.3,5.5-1.4,1-3.5,1.4-6.6,1.4H12.8c-3.1,0-5.2-.4-6.6-1.4-1.3-.9-2.2-2.6-2.3-5.5,0-.4,0-.7,0-1.1,0-.3,0-.6,0-.9,0-.7,0-1.6-.2-2.3-.1-.8-.4-1.5-.9-2.1,0,0-.2-.2-.3-.3,0,0,.2-.2.3-.3.5-.6.8-1.4.9-2.1.1-.8.2-1.6.2-2.3,0-.3,0-.6,0-.9,0-.4,0-.8,0-1.1.1-2.9.9-4.6,2.3-5.5,1.4-1,3.5-1.4,6.6-1.4h127.4c3,0,5.2.4,6.6,1.4,1.3.9,2.2,2.6,2.3,5.5,0,.4,0,.7,0,1.1h0c0,.3,0,.6,0,.9,0,.7,0,1.6.2,2.3.1.8.4,1.5.9,2.1,0,0,.2.2.3.3,0,0-.2.2-.3.3Z"/>
            </svg>
            <svg
              width="26"
              height="15"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="buttonDetail buttonDetail-left"
            >
              <path d="M10.767 9.20681C11.9295 8.36314 12.8023 7.90453 13.438 7.65359L9.78886 7.65359C8.94239 9.14191 7.50153 8.60975 7.50153 8.60975C4.36398 7.77906 -1.29886e-06 7.42861 -1.29886e-06 7.42861C3.93134 6.99596 6.45568 6.37294 7.7724 6.01817C8.84082 5.73262 9.56689 6.88347 9.80014 7.32478L13.3854 7.32478C12.7534 7.06951 11.8956 6.6109 10.767 5.79319C7.79121 3.62994 6.15095 0.74416 5.95156 1.0406e-06C5.95156 1.0406e-06 7.82883 2.40554 11.147 3.48284C11.147 3.48284 13.8143 4.06259 12.3019 6.15662C12.3019 6.15662 12.9527 7.07384 14.356 7.35506C14.4275 6.93972 14.736 6.62388 15.1159 6.59792L15.1159 5.90568C15.1159 5.90568 13.7465 5.46871 14.0513 4.1448C14.3597 2.81656 15.0256 2.34064 15.1874 0.35045C15.1874 0.35045 15.8909 1.53159 15.9812 3.40064C16.0715 5.26536 15.2777 5.82781 15.2777 5.82781L15.2777 6.60658C15.684 6.66715 16 7.06519 16 7.54976C16 8.03432 15.684 8.42804 15.2777 8.49293L15.2777 9.16787C15.2777 9.16787 16.0715 9.73031 15.9812 11.595C15.8909 13.4598 15.1874 14.6452 15.1874 14.6452C15.0256 12.655 14.3597 12.1791 14.0513 10.8509C13.7465 9.52264 15.1159 9.08999 15.1159 9.08999L15.1159 8.50591C14.7096 8.47563 14.3861 8.10787 14.3485 7.64494C12.949 7.93049 12.3019 8.84338 12.3019 8.84338C13.818 10.9374 11.147 11.5172 11.147 11.5172C7.82883 12.5945 5.95156 15 5.95156 15C6.15095 14.2515 7.79121 11.3701 10.767 9.21113L10.767 9.20681Z" fill="black"/>
              <ellipse cx="25" cy="7.5" rx="1" ry="1" fill="black"/>
            </svg>
                      <span>{{- block.settings.button_label_1 | escape -}}</span>
                      <svg
              width="26"
              height="15"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="buttonDetail buttonDetail-right"
            >
              <ellipse cx="1" cy="7.5" rx="1" ry="1" transform="rotate(-180 1 7.5)" fill="black"/>
              <path d="M15.233 5.79319C14.0705 6.63686 13.1977 7.09547 12.562 7.34641L16.2111 7.34641C17.0576 5.85809 18.4985 6.39025 18.4985 6.39025C21.636 7.22094 26 7.57139 26 7.57139C22.0687 8.00404 19.5443 8.62706 18.2276 8.98183C17.1592 9.26738 16.4331 8.11653 16.1999 7.67522L12.6146 7.67522C13.2466 7.93049 14.1044 8.3891 15.233 9.20681C18.2088 11.3701 19.849 14.2558 20.0484 15C20.0484 15 18.1712 12.5945 14.853 11.5172C14.853 11.5172 12.1857 10.9374 13.6981 8.84338C13.6981 8.84338 13.0473 7.92616 11.644 7.64494C11.5725 8.06028 11.264 8.37612 10.8841 8.40208L10.8841 9.09432C10.8841 9.09432 12.2535 9.53129 11.9487 10.8552C11.6403 12.1834 10.9744 12.6594 10.8126 14.6496C10.8126 14.6496 10.1091 13.4684 10.0188 11.5994C9.92852 9.73464 10.7223 9.17219 10.7223 9.17219L10.7223 8.39342C10.316 8.33285 10 7.93481 10 7.45024C10 6.96568 10.316 6.57196 10.7223 6.50707L10.7223 5.83213C10.7223 5.83213 9.92852 5.26969 10.0188 3.40496C10.1091 1.54024 10.8126 0.354774 10.8126 0.354774C10.9744 2.34497 11.6403 2.82088 11.9487 4.14912C12.2535 5.47736 10.8841 5.91001 10.8841 5.91001L10.8841 6.49409C11.2904 6.52437 11.6139 6.89212 11.6515 7.35506C13.051 7.06951 13.6981 6.15662 13.6981 6.15662C12.182 4.06259 14.853 3.48284 14.853 3.48284C18.1712 2.40554 20.0484 4.33372e-07 20.0484 4.33372e-07C19.849 0.748486 18.2088 3.62994 15.233 5.78887L15.233 5.79319Z" fill="black"/>
            </svg>
                  
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section full-bleed",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.content.content"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },    
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 2,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
  "type": "image",
  "name": "Image",
  "limit": 6,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "alt",
      "label": "Alt text (optional)"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 100,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Max width",
      "default": 800
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    }
  ]
},
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 2,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner.blocks.text.settings.text.default",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
        "type": "header",
        "content": "t:sections.image-banner.blocks.buttons.settings.header_1.content"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
        "type": "header",
        "content": "t:sections.image-banner.blocks.buttons.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
