{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
    padding-top: 10px;
    padding-bottom: 30px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
  if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
    assign remove_color_classes = true
  endif
-%}

<div class="maybe section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == section.settings.section_color_scheme and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
        <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
          <div
            class="image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
            {% if section.settings.height == 'adapt' and section.settings.image != blank %}
              style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            {%- if section.settings.image != blank -%}
              {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
              {%- else -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
              {%- endif -%}
              {{
                section.settings.image
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div
            id="ImageWithText--{{ section.id }}"
            class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}"
          >
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'heading' -%}
                  <h2
                    class="image-with-text__heading inline-richtext {{ block.settings.heading_size }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.heading }}
                  </h2>
                {%- when 'caption' -%}
                  <p
                    class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.caption | escape }}
                  </p>
                {%- when 'text' -%}
                  <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>
                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="norwesterLarge button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      <div class="spacer"></div>
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 153 29" class="buttonBorder">
              <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
              <defs>
                <style>
                  .st0 {
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path class="st0" d="M151.1,14c-1.3-1-1.3-3.3-1.3-5.2,0-.4,0-.8,0-1.2C149.6,1.5,146.3,0,140.2,0H12.8c-6.1,0-9.4,1.5-9.6,7.7,0,.4,0,.8,0,1.2,0,1.9,0,4.2-1.3,5.2-.3.3-.8.4-1.4.5.6,0,1,.2,1.4.5,1.3,1,1.3,3.3,1.3,5.1,0,.4,0,.8,0,1.2.2,5.2,2.5,7.1,6.9,7.6.8,0,1.8.1,2.8.1h127.4c1,0,1.9,0,2.8-.1,4.4-.5,6.8-2.4,6.9-7.6,0-.4,0-.8,0-1.2,0-1.9,0-4.2,1.3-5.1.3-.3.8-.4,1.4-.5-.6,0-1-.2-1.4-.5ZM150.2,14.8c-.5.6-.8,1.4-.9,2.1-.1.8-.2,1.6-.2,2.3,0,.3,0,.6,0,.9h0c0,.4,0,.8,0,1.1-.1,2.9-.9,4.6-2.3,5.5-1.4,1-3.5,1.4-6.6,1.4H12.8c-3.1,0-5.2-.4-6.6-1.4-1.3-.9-2.2-2.6-2.3-5.5,0-.4,0-.7,0-1.1,0-.3,0-.6,0-.9,0-.7,0-1.6-.2-2.3-.1-.8-.4-1.5-.9-2.1,0,0-.2-.2-.3-.3,0,0,.2-.2.3-.3.5-.6.8-1.4.9-2.1.1-.8.2-1.6.2-2.3,0-.3,0-.6,0-.9,0-.4,0-.8,0-1.1.1-2.9.9-4.6,2.3-5.5,1.4-1,3.5-1.4,6.6-1.4h127.4c3,0,5.2.4,6.6,1.4,1.3.9,2.2,2.6,2.3,5.5,0,.4,0,.7,0,1.1h0c0,.3,0,.6,0,.9,0,.7,0,1.6.2,2.3.1.8.4,1.5.9,2.1,0,0,.2.2.3.3,0,0-.2.2-.3.3Z"/>
            </svg>
            <svg
              width="26"
              height="15"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="buttonDetail buttonDetail-left"
            >
              <path d="M10.767 9.20681C11.9295 8.36314 12.8023 7.90453 13.438 7.65359L9.78886 7.65359C8.94239 9.14191 7.50153 8.60975 7.50153 8.60975C4.36398 7.77906 -1.29886e-06 7.42861 -1.29886e-06 7.42861C3.93134 6.99596 6.45568 6.37294 7.7724 6.01817C8.84082 5.73262 9.56689 6.88347 9.80014 7.32478L13.3854 7.32478C12.7534 7.06951 11.8956 6.6109 10.767 5.79319C7.79121 3.62994 6.15095 0.74416 5.95156 1.0406e-06C5.95156 1.0406e-06 7.82883 2.40554 11.147 3.48284C11.147 3.48284 13.8143 4.06259 12.3019 6.15662C12.3019 6.15662 12.9527 7.07384 14.356 7.35506C14.4275 6.93972 14.736 6.62388 15.1159 6.59792L15.1159 5.90568C15.1159 5.90568 13.7465 5.46871 14.0513 4.1448C14.3597 2.81656 15.0256 2.34064 15.1874 0.35045C15.1874 0.35045 15.8909 1.53159 15.9812 3.40064C16.0715 5.26536 15.2777 5.82781 15.2777 5.82781L15.2777 6.60658C15.684 6.66715 16 7.06519 16 7.54976C16 8.03432 15.684 8.42804 15.2777 8.49293L15.2777 9.16787C15.2777 9.16787 16.0715 9.73031 15.9812 11.595C15.8909 13.4598 15.1874 14.6452 15.1874 14.6452C15.0256 12.655 14.3597 12.1791 14.0513 10.8509C13.7465 9.52264 15.1159 9.08999 15.1159 9.08999L15.1159 8.50591C14.7096 8.47563 14.3861 8.10787 14.3485 7.64494C12.949 7.93049 12.3019 8.84338 12.3019 8.84338C13.818 10.9374 11.147 11.5172 11.147 11.5172C7.82883 12.5945 5.95156 15 5.95156 15C6.15095 14.2515 7.79121 11.3701 10.767 9.21113L10.767 9.20681Z" fill="black"/>
              <ellipse cx="25" cy="7.5" rx="1" ry="1" fill="black"/>
            </svg>
                      <span>{{ block.settings.button_label | escape }}</span>
                      <svg
              width="26"
              height="15"
              viewBox="0 0 26 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="buttonDetail buttonDetail-right"
            >
              <ellipse cx="1" cy="7.5" rx="1" ry="1" transform="rotate(-180 1 7.5)" fill="black"/>
              <path d="M15.233 5.79319C14.0705 6.63686 13.1977 7.09547 12.562 7.34641L16.2111 7.34641C17.0576 5.85809 18.4985 6.39025 18.4985 6.39025C21.636 7.22094 26 7.57139 26 7.57139C22.0687 8.00404 19.5443 8.62706 18.2276 8.98183C17.1592 9.26738 16.4331 8.11653 16.1999 7.67522L12.6146 7.67522C13.2466 7.93049 14.1044 8.3891 15.233 9.20681C18.2088 11.3701 19.849 14.2558 20.0484 15C20.0484 15 18.1712 12.5945 14.853 11.5172C14.853 11.5172 12.1857 10.9374 13.6981 8.84338C13.6981 8.84338 13.0473 7.92616 11.644 7.64494C11.5725 8.06028 11.264 8.37612 10.8841 8.40208L10.8841 9.09432C10.8841 9.09432 12.2535 9.53129 11.9487 10.8552C11.6403 12.1834 10.9744 12.6594 10.8126 14.6496C10.8126 14.6496 10.1091 13.4684 10.0188 11.5994C9.92852 9.73464 10.7223 9.17219 10.7223 9.17219L10.7223 8.39342C10.316 8.33285 10 7.93481 10 7.45024C10 6.96568 10.316 6.57196 10.7223 6.50707L10.7223 5.83213C10.7223 5.83213 9.92852 5.26969 10.0188 3.40496C10.1091 1.54024 10.8126 0.354774 10.8126 0.354774C10.9744 2.34497 11.6403 2.82088 11.9487 4.14912C12.2535 5.47736 10.8841 5.91001 10.8841 5.91001L10.8841 6.49409C11.2904 6.52437 11.6139 6.89212 11.6515 7.35506C13.051 7.06951 13.6981 6.15662 13.6981 6.15662C12.182 4.06259 14.853 3.48284 14.853 3.48284C18.1712 2.40554 20.0484 4.33372e-07 20.0484 4.33372e-07C19.849 0.748486 18.2088 3.62994 15.233 5.78887L15.233 5.79319Z" fill="black"/>
            </svg>
                    </a>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        },
        {
          "value": "screenWidth",
          "label": "screenWidth"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.header.content"
    }, 
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },       
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-text.settings.header_colors.content"
    },        
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.image-with-text.blocks.caption.settings.text.default",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 2,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
