{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<cart-items class="gradient color-{{ section.settings.color_scheme }} isolate{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
  <div class="page-width">
    <div class="title-wrapper-with-link">
      <h2 class="title title--primary">{{ 'sections.cart.title' | t }}</h2>
    </div>

    <div class="cart__warnings">
      <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>

      {%- if shop.customer_accounts_enabled and customer == null -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
    </div>

    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
        <div class="js-contents">
          {%- if cart != empty -%}
            <table class="cart-items">
              <caption class="visually-hidden">
                {{ 'sections.cart.title' | t }}
              </caption>
              <thead>
                <tr>
                  <th class="caption-with-letter-spacing" colspan="2" scope="col">
                    {{ 'sections.cart.headings.product' | t }}
                  </th>
                  <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">
                    {{ 'sections.cart.headings.total' | t }}
                  </th>
                  <th
                    class="cart-items__heading--wide cart-items__heading--quantity small-hide caption-with-letter-spacing"
                    colspan="1"
                    scope="col"
                  >
                    {{ 'sections.cart.headings.quantity' | t }}
                  </th>
                  <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">
                    {{ 'sections.cart.headings.total' | t }}
                  </th>
                </tr>
              </thead>

              <tbody>
                {%- for item in cart.items -%}
                  <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                    <td class="cart-item__media">
                      {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                        <div class="cart-item__image-container gradient global-media-settings">
                          <img
                            src="{{ item.image | image_url: width: 300 }}"
                            class="cart-item__image"
                            alt="{{ item.image.alt | escape }}"
                            loading="lazy"
                            width="150"
                            height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                          >
                        </div>
                      {% endif %}
                    </td>

                    <td class="cart-item__details">
                      {%- if settings.show_vendor -%}
                        <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                      {%- endif -%}

                      <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

                      {%- if item.original_price != item.final_price -%}
                        <div class="cart-item__discounted-prices">
                          <span class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </span>
                          <s class="cart-item__old-price product-option">
                            {{- item.original_price | money -}}
                          </s>
                          <span class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </span>
                          <strong class="cart-item__final-price product-option">
                            {{ item.final_price | money }}
                          </strong>
                        </div>
                      {%- else -%}
                        <div class="product-option">
                          {{ item.original_price | money }}
                        </div>
                      {%- endif -%}

                      {%- if item.product.has_only_default_variant == false
                        or item.properties.size != 0
                        or item.selling_plan_allocation != null
                      -%}
                        <dl>
                          {%- if item.product.has_only_default_variant == false -%}
                            {%- for option in item.options_with_values -%}
                              <div class="product-option">
                                <dt>{{ option.name }}:</dt>
                                <dd>{{ option.value }}</dd>
                              </div>
                            {%- endfor -%}
                          {%- endif -%}

                          {%- for property in item.properties -%}
                            {%- assign property_first_char = property.first | slice: 0 -%}
                            {%- if property.last != blank and property_first_char != '_' -%}
                              <div class="product-option">
                                <dt>{{ property.first }}:</dt>
                                <dd>
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}" class="link" target="_blank">
                                      {{ property.last | split: '/' | last }}
                                    </a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </dd>
                              </div>
                            {%- endif -%}
                          {%- endfor -%}
                        </dl>

                        <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                      {%- endif -%}

                      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.line_level_discount_allocations -%}
                          <li class="discounts__discount">
                            {{- 'icon-discount.svg' | inline_asset_content -}}
                            {{ discount.discount_application.title | escape }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </td>

                    <td class="cart-item__totals right medium-hide large-up-hide">
                      {%- render 'loading-spinner' -%}
                      <div class="cart-item__price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl class="cart-item__discounted-prices">
                            <dt class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="cart-item__old-price price price--end">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dt class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd class="price price--end">
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          <span class="price price--end">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden"
                              >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                            >
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div>
                    </td>
                    {%- liquid
                      assign has_qty_rules = false
                      if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                        assign has_qty_rules = true
                      endif

                      assign has_vol_pricing = false
                      if item.variant.quantity_price_breaks.size > 0
                        assign has_vol_pricing = true
                      endif
                    -%}
                    <td class="cart-item__quantity{% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}">
                      <quantity-popover>
                        <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                          <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                            {{ 'products.product.quantity.label' | t }}
                          </label>
                          <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                aria-expanded="false"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide medium-hide"
                              >
                                {{- 'icon-info.svg' | inline_asset_content -}}
                              </button>
                            {%- endif -%}
                            <quantity-input class="quantity cart-quantity">
                              <button class="quantity__button" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-minus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                              <input
                                class="quantity__input"
                                data-quantity-variant-id="{{ item.variant.id }}"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                {% # theme-check-disable %}
                                data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                min="0"
                                data-min="{{ item.variant.quantity_rule.min }}"
                                {% if item.variant.quantity_rule.max != null %}
                                  max="{{ item.variant.quantity_rule.max }}"
                                {% endif %}
                                step="{{ item.variant.quantity_rule.increment }}"
                                {% # theme-check-enable %}
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                              <button class="quantity__button" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                                </span>
                                <span class="svg-wrapper">
                                  {{- 'icon-plus.svg' | inline_asset_content -}}
                                </span>
                              </button>
                            </quantity-input>
                          </div>
                          <cart-remove-button
                            id="Remove-{{ item.index | plus: 1 }}"
                            data-index="{{ item.index | plus: 1 }}"
                          >
                            <a
                              href="{{ item.url_to_remove }}"
                              class="button button--tertiary"
                              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                            >
                              <span class="svg-wrapper">
                                <svg id="_x2DC_รรฐ_x5F_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500 700">
  <!-- Generator: Adobe Illustrator 29.8.3, SVG Export Plug-In . SVG Version: 2.1.1 Build 3)  -->
  <defs>
    <style>
      .st009 {
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: .21px;
      }
    </style>
  </defs>
  <g>
    <path class="st009" d="M408.34,558.22l-12.99,2.07-13.48.02-7.8,2.05c9.54.29,42.12.57,50.87,3.12-10.09.27-41.49.69-50.87,3.12,20.28,2.12,41.36.82,61.79,2.08,1.21.1,4.66.32,4.66,2.07l-64.91,2.09-1.53,2.07c5.72.54,81.87.92,85.14,4.15-3.75.5-84.64,2.2-85.14,5.19,2.89.42,96.28,1,95.52,4.15l-87.22,4.17,1.02,1.56c6.96.49,84.31,1.77,88.28,4.65l-78.41,5.2-1.53,2.07c7.63.5,72.5,1.1,77.87,4.15l-84.1,6.23c25.18,2.47,50.96.54,76.19,3.25,1.06.11,4.89.41,4.79,1.94l-93.45,4.17c-.24,1.81,2.36.98,3.62,1.03,21.05.86,42.32-.05,63.39,1l3.6,2.1c-15.32.54-65.64,1.84-79.95,4.15,29.27,2.08,58.42.51,87.75,1.05,1.26.05,3.86-.78,3.62,1.03l-109.02,6.25c-.24,1.81,2.36.98,3.62,1.03,16.58.68,33.31-.46,49.9-.04,12.38,1.42,26.6.24,38.89,3.15l-112.14,5.21c-.57,2.58,15.58.25,18.21.99,22.16.93,45.44-.69,67.46,1.07,1.21.1,4.66.32,4.66,2.07l-138.1,6.25c-.24,1.81,2.36.98,3.62,1.03,9.33.38,18.75-.27,28.09-.04,20.18,1.66,41.63-.22,61.74,3.15-71.31-1.1-259.04,20.57-285.56-63.86-9.28-62.39-9.82-129.22-17.66-192.1-5.29-75.56-20.2-151.36-21.34-226.96,19.55-39.58,104.61-38.2,143.88-42.53-29.33-15.39-84.52-38.34-100.23-68.49,4.97-65.32,82.73-35.71,122.61-24.29,10.21-11.6,21.32-24.85,38.4-24.63,14.87.19,62.24,20.7,75.96,28.98,22.75,13.73,15.38,32.1,13.73,54.74,27.39,16.84,79.23,41.18,93.33,69.79.38,9.95-9.35,44.13-23.61,41.84-.71,9.51-.75,19.4-6.23,27.52l-31.19,309.93h34.27ZM331.49,102.35c1.14-14.08,7-26.98-5.73-37.35-8.28-6.74-59.05-27.96-69.54-29.11-14.69-1.61-23.04,6.67-31.66,17.14,7.65,5.98,7.66.18,11.87-3.68,13.77-12.65,23.93-6.22,38.96-.44,20.86,9.76,64.69,17.74,46.84,48.67l9.26,4.77ZM169.51,49.38c24.27,9.03,55.47,17.88,75.29,33.22-39.73-14.25-81.21-37.45-124.1-36.33l25.95,9.35-26.49-4.13-8.81,1.01,16.37,3.89,22.04,8.57c-7.16,1.36-46.87-14.59-44.64-3.11,22.64,2.59,47.87,11.03,67.49,21.8-21.66-4.1-51.35-16.82-72.68-13.48,3.07,9.27,11.51,5.49,19.08,6.34,91.77,21.19,172.24,73.4,255.04,115.68,6.21,2.26,36.6,21.32,40.01,17.13,2.96-2.72,16.35-30.19,7.25-33.24-1.83,10.49-5.53,20.67-10.37,30.1-73.58-39.31-145.79-81.6-222.75-114.23,41.43,7.69,86.99,34.43,127.22,51.92,3.9.02-2.46-3.36-2.71-3.52-15.87-10.14-33.01-18.06-49.02-27.82-1.71-1.04-5.27-2.71-5.41-4.96l66.48,30.07c-8.34-8.09-48.03-29.29-58.67-35.3-.2-1.97,2.09-.84,3.12-.53,16.24,4.83,33.33,15.18,49.29,21.33l-26.45-16.65c-.3-1.65,1.38-1.12,2.37-.82,27.92,9.84,58.25,27.81,84.34,42.35-57.2-45.79-134.77-81.87-206.1-99.2-1.1-.16-3.38-1.4-3.15.56ZM314.87,94.04c2.97-7.99,3.68-13.12-3.62-18.69-5.41-4.12-49.61-22.69-56.34-23.66-5.92-.86-13.39,2.99-13.76,9.11l73.72,33.24ZM209.48,147v1.04c.67-.35.67-.69,0-1.04ZM338.76,190.63c-43.61-10.21-86.19-24.73-127.18-42.6.77,1.34,4.39,3.4,5.69,4.16-35.79,1.35-148.63-.09-160.92,38.89,41.82,61.09,268.55,51.96,332.26,20.3.58-2.7-.58-1.61-1.49-2.16-.87-.53-4.17-2.44-4.73-2.6-73.08,25.97-245.38,32.28-310.95-10.87-17.95-40.01,129.46-38.25,153.62-39.4,36.52,11.79,72.54,27.9,110.36,35.04,1.14.14,3.57,1.16,3.34-.75ZM341.87,191.67c-1.46-.75-2.77.66-2.07,1.02,1.46.75,2.77-.66,2.07-1.02ZM322.14,236.32c-85.66,1.02-188.44,13.84-265.81-29.62,6.43,16.48,29.69,20.49,44.62,26.5-4.27,4.75-37.16-8.02-42.56-12.47,3.44,10.29,27.24,18.27,37.37,21.82-.85,3.62-24.64-4.15-28.3-5.45-.96-.34-8.54-4.91-6.99-1.33,14.68,14.93,75.26,26.3,97.6,29.62-30.39.99-63.45-4.11-90.87-17.64,66.05,46.9,235.82,38.06,310.48,10.35-50.69,12.57-103.21,15.53-155.22,12.47,31.36-3.44,63.24-4.92,94.49-9.35.98-2.2-11.28-.75-13.02-1.08-24.58,1.01-51.07,2.47-75.63-.08-1.06-.11-4.88-.41-4.79-1.94,35.82-1,71.7-5.23,106.95-11.44l-99.68,3.12c.16-1.49,4.57-1.78,5.83-1.94,28.03-4.24,58.96-3.63,85.54-11.54ZM398.99,215.55c-1.43-1.15-7.73,3.24-8.3,5.18,1.3.42,10.39-3.5,8.3-5.18ZM401.06,223.85l-10.35,7.8c1.89.48,12.29-5.73,10.35-7.8ZM398.89,235.34l-8.57,5.59.82,1.26,8.57-5.59-.82-1.26ZM379.78,257.08v1.04c.67-.35.67-.69,0-1.04ZM273.34,617.41h-30.63l-20.24-3.1c18.49-1.72,36.92-3.37,55.23-6.56,1.29-.23,5.03-.2,4.99-1.75l-26.52,1.07-23.32-2.13,40.5-4.15c-1.06-13.12-18.7-4.48-27.59-8.01-6.37,16.51-25.72,12.57-29.28-4.17-.26-1.21-1.24-6.3.78-6.5,1.06,10.16,18.54,19.41,20.72,5.64,1.89-11.92-.24-31.61.02-44.64.26-72.53,5.86-146.62,5.28-219.11-.54-7.43-1.54-13.57-10.71-11.66-23.85,8.14-11.09,92.05-16.35,115.02-3.61-28.48-4.08-71.88-1.94-101.11,1.32-12.71,9.77-23.66,23.42-17.44,12.81,5.84,14.03,25.31,13.84,37.57l26.98-3.13,1.05-8.3h-24.92c6.15-6.46,29.6,1.84,25.95-13.5-.37-.51-1.32,1.04-1.55,1.04h-23.36c2.03-4.4,19.74-2.17,25.27-4.32l3.8-8.14h-29.08c8.83-3.13,20.52-2.07,29.36-3.35,5.61-1.13,12.8-9.8,20.46-3.4-26.73,8.54-17.57,57.13-20.76,79.95-3.43,56.36-6.63,112.74-8.25,169.32-.27,9.31-5.21,42.34,6.92,45.95,16.42,4.88,18.08-18,19.04-28.31-.8-11.97-2.75,22.99-13.5,22.92-4.17.66-5.86-2.68-6.29-6.32,1.1-70.54,6.62-141.48,10.39-211.87.16-8.82-.11-86.24,17.71-59.23,4.72,11.14,4.3,31.39,4.11,43.14l2.07-7.8c-2.08-12.9,6.79-28.8.02-39.97l3.63.03,1.56-7.81c-.09-.62-8.53,2.51-9.36-1.56,5.99-.3,11.24-.27,14.03-6.26l-1.19-1.92c-26.73,2.06-53.52,2.18-80.34,1.93,6.61-.87,50.87-5.21,56.06-7.25-79.64,2.75-165.79,6.79-238.82-30.12-3.8,4.59,25.11,18.49,29.06,18.7.78,2.96-14.52-2.4-16.6-2.61-3.74-1.03-7.89-3.8-11.44-3.1,1.22,8.33,1.49,4.4,6.55,5.91,4.96,3.85,11.25,7.11,17.35,9.15-2.36,4.44-8.59-1.51-12.44.49.63,7.62,5.41,7.22,10.36,11.45-1.59,1.58-8-3.28-8.25-.03,1.21,12.24.84,5.27,8.25,11.45l-6.22-.52c-.86,7.4,0,8.64,6.22,11.94-1.55,1.68-5.26-1.26-5.22,2.07.06,6.21,1.45,6.47,6.26,9.35l-5.19.52c.06,6.48.21,9.26,6.23,11.95l-4.16.51c-.1,5.25-1.32,9.76,5.19,10.4l-5.2,1.56c1.61,2.15.43,7.36,1.21,8.66.41.68,4.89.96,5.03,3.26-6.26-3.7-5.26,5.59-3.66,8.34.84,1.43,4.65,1.78,5.73,3.62l-5.19.51c-.44,5.87-.63,10.45,6.23,11.44l-6.2,1.57c1.35,6.11.15,9.02,6.2,12.44l-4.14-.52c-.11,6.54-1.48,10.78,5.18,14.02l-4.14-.52c-.24,5.75-.56,11.17,5.18,14.02l-4.14-.52c.33,4.99-.96,12.88,4.14,15.06l-3.06.56-.1,1.51,5.23,74.24c-14.41-78.88-16.15-161.19-28.03-240.91h-3.1c4.38,87.04,17.97,174.24,26.17,260.95,0,0,6.01,8.53,6.01,8.53l-5.19-.51c5.55,12.72,5.69,3.46,8.29-3.12.72,5.38,1.79,8.62,6.24,11.94-14.03,2.84.03,7.98,4.7,10.88,2.38.73,1.69-3.17,1.58-4.7-4.38-86.67-21.1-175.77-19.32-262.22,1.17-5.24,3.15-10.39,8.87-11.92,15.67-4.17,19.09,19.72,20.66,30.28,11.29,75.87,10.28,160.69,14.63,237.71.4,7.05,6.33,24.6-4.69,26.37-10.93,1.75-14.93-5.61-19.14-14.02-5.4.43-9.84,3.06-15.08-.42,1.89,4.47,7.69,7.43,11.95,9.34l-3.11,1.04c-1.04.78,9.42,7.76,11.41,7.27-1.85,4.16-13-4.52-16.59-4.7,37.69,32.23,123.64,41.62,170.28,30.64ZM383.41,285.11c-13.68,23.85-11.03,63.21-15.56,90.87-6.26,59.1-10.51,118.45-16.61,177.57.12,4.99-1.09,10.98,2.58,15.03,2.99-93.25,22.26-189.14,29.58-283.47ZM361.6,304.84c.35-4.52-.25-9.28-3.08-12.99-16.38-3.85-17.35,21.06-18.7,32.21-5.12,42.25-8.01,87.21-11.42,129.8,1.75,16.85-22.48,145.82,3.12,135.03,3.69-.96,7.95-5.94,2.95-4.32-7.6,2.46-7.91-.98-8.98-8.19,8.57-91.21,14.36-182.98,25.02-273.83,1.75-1.8,4.46-7.98,7.72-4.72,1.75,1.73,1.29,6.01,3.38,7ZM112.13,302c-15.29-7.72-10.87,23.01-11.15,31.39,3.04,75.8,16.15,153.34,19.85,229.37.94,5.72,2.48,20.18,10.73,19.37,6.51-.64,4.96-20.33,4.7-25.46-1.4-27.41-6.05-56.49-8.29-84.13-6.27-55.88-2.43-116.42-15.85-170.54ZM277.5,347.42h-24.92l.53,12.48c8.06-1.37,16.19-3.29,24.39-3.13v-9.35ZM277.5,360.93l-24.93,1.02v11.43s23.9-2.08,23.9-2.08c.09-3.5-.66-7.15,1.03-10.38ZM275.43,385.85c-.99-2.47,1.97-9.61-.66-10.3-3.75-.99-17,2.6-22.2.94v11.43s22.86-2.08,22.86-2.08ZM274.39,400.39c-1.1-2.82,2.46-9.26-.68-10.24-4.26-1.32-15.71,2.5-21.13.88v11.42s21.82-2.07,21.82-2.07ZM273.25,414.82c-.05-2.63,2.92-9.1-.58-10.21-2.39-.76-16,2.46-20.1.95v11.43s20.68-2.17,20.68-2.17ZM273.34,420.11h-21.81v11.43c7.27.04,14.54-1.29,21.75-2.13l.06-9.29ZM272.31,434.65h-17.13c-.54,0-2.35,1.28-3.48,1.19l-.16,10.24,20.63-2.23.15-9.2ZM272.31,450.22h-20.77l.53,11.44,19.2-2.09,1.03-9.35ZM271.27,464.76l-20.72,1.1-.06,10.34,19.8-1.5.98-9.94ZM266.59,480.34c-5.1.52-10.9-.38-16.1,0v9.35s19.74-1.04,19.74-1.04v-9.35c-1.53-.6-2.92.96-3.64,1.03ZM270.23,493.84h-19.73c.4,2.73-2.58,8.13-.06,9.95,8.28-1.37,22.18,3.09,19.79-9.95ZM269.19,507.34h-19.73c.29,2.8-.41,6.17,0,8.86.24,1.61-.63,1.59,1.58,1.56,2.27-.02,17.46-1.53,18.05-2.23l.11-8.2ZM266.59,520.84c-5.71.05-11.44-.04-17.13,0l-.96,8.69c1.74,3.32,5.03.75,7.72.66,3.97-.13,7.97.08,11.93,0-1.34-2.68,4.01-12.35-1.56-9.35ZM268.15,533.3l-18.72.44-1.01,9.95,19.68-1.1.05-9.3ZM267.11,546.8h-18.69v8.31h18.69v-8.31ZM267.12,558.21l-18.1-.91c-2.76.65-1.34,7.97-1.64,10.27l19.74-1.04v-8.32ZM267.11,569.64h-19.73l-1.04,9.34c7.01.66,13.81-.93,20.78-1.03v-8.31ZM361.61,592.49c10.97,57.37-133.33,66.59-168.22,54.01,10.57-.35,58.16-.29,67.49-3.12-19.7-1.29-41.55.63-60.22-5.19,30.14-.1,61.24.11,90.33-8.31-65.99,4.48-138.46,1.9-195.2-35.85,6.78,9.41,16.64,17.12,26.97,22.35.43,3.65-20.92-6.23-22.33-8.3,3.48,7.5,19.01,12.81,25.45,19.2-7.62,1.2-13.96-4.16-20.74-6.25,64.51,47.73,182.05,49.29,248.71,5.75,17.49-14.97,11.56-28.2,13.98-48.84-11.72,16.18-29.6,27.05-48.79,32.2,9,1.11,22.51-6.31,30.81-10.22,1.55-.86,11.21-8.1,11.76-7.45ZM268.15,581.06h-21.81c.68,2.75-.57,5.91-.63,8.24-.08,3.34,2.44,1.09,4.24,1.08,6.52-.03,12.77-.8,19.24-1.02l-1.04-8.3Z"/>
    <path class="st009" d="M167.79,597.31c-5.24-5-6.81-16.09-7.62-23.01-4.09-74.78-10.75-150.41-13.56-225.28-.34-14.97-2.89-47.36,19.26-47.37,41.33-1.42,23.77,213.35,28.52,250.9.12,11.96,4.27,32.63-2.63,42.98-5.61,8.41-16.98,8.45-23.97,1.78ZM166.12,309.21c-25.47,7.18.06,115.28-4.92,142.56,5.62,41,2.35,86.13,8.31,126.69-.35,14.83,16.5,24.88,19.77,5.26,1.47-15.13-1.58-35.37-2.17-50.89-3-71.02-5.05-141.99-7.32-212.83-.97-7.21-6.02-12.25-13.67-10.78Z"/>
  </g>
</svg>
                              </span>
                            </a>
                          </cart-remove-button>
                        </div>
                        {%- if has_qty_rules or has_vol_pricing -%}
                          <button
                            type="button"
                            class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary large-up-hide"
                            aria-expanded="false"
                          >
                            {{- 'icon-info.svg' | inline_asset_content -}}
                            <span>
                              {%- if has_vol_pricing -%}
                                {{ 'products.product.volume_pricing.note' | t }}
                              {%- elsif has_qty_rules -%}
                                {{ 'products.product.quantity.note' | t }}
                              {%- endif -%}
                            </span>
                          </button>
                        {%- endif -%}
                        {%- if has_vol_pricing or has_qty_rules -%}
                          <div
                            class="cart-items__info global-settings-popup quantity-popover__info"
                            tabindex="-1"
                            hidden
                          >
                            {%- if has_qty_rules == false -%}
                              <span class="volume-pricing-label caption">
                                {{- 'products.product.volume_pricing.title' | t -}}
                              </span>
                            {%- endif -%}
                            <div class="quantity__rules caption">
                              {%- if item.variant.quantity_rule.increment > 1 -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.multiples_of'
                                    | t: quantity: item.variant.quantity_rule.increment
                                  -}}
                                </span>
                              {%- endif -%}
                              {%- if item.variant.quantity_rule.min > 1 -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.min_of'
                                    | t: quantity: item.variant.quantity_rule.min
                                  -}}
                                </span>
                              {%- endif -%}
                              {%- if item.variant.quantity_rule.max != null -%}
                                <span class="divider">
                                  {{-
                                    'products.product.quantity.max_of'
                                    | t: quantity: item.variant.quantity_rule.max
                                  -}}
                                </span>
                              {%- endif -%}
                            </div>
                            <button
                              class="button-close button button--tertiary large-up-hide"
                              type="button"
                              aria-label="{{ 'accessibility.close' | t }}"
                            >
                              <span class="svg-wrapper">
                                {{- 'icon-close.svg' | inline_asset_content -}}
                              </span>
                            </button>
                            {%- if item.variant.quantity_price_breaks.size > 0 -%}
                              <volume-pricing class="parent-display">
                                <ul class="list-unstyled">
                                  <li>
                                    <span>{{ item.variant.quantity_rule.min }}+</span>
                                    {%- assign price = item.variant.price | money_with_currency -%}
                                    <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                  </li>
                                  {%- for price_break in item.variant.quantity_price_breaks -%}
                                    <li>
                                      <span>
                                        {{- price_break.minimum_quantity -}}
                                        <span aria-hidden="true">+</span></span
                                      >
                                      {%- assign price = price_break.price | money_with_currency -%}
                                      <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </volume-pricing>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                        <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                          <small class="cart-item__error-text"></small>
                          <span class="svg-wrapper">
                            {{- 'icon-error.svg' | inline_asset_content -}}
                          </span>
                        </div>
                      </quantity-popover>
                    </td>

                    <td class="cart-item__totals right small-hide">
                      {%- render 'loading-spinner' -%}
                      <div class="cart-item__price-wrapper">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl class="cart-item__discounted-prices">
                            <dt class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </dt>
                            <dd>
                              <s class="cart-item__old-price price price--end">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dt class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </dt>
                            <dd class="price price--end">
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          <span class="price price--end">
                            {{ item.original_line_price | money }}
                          </span>
                        {%- endif -%}

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.unit_price | money }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden"
                              >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                            >
                            {%- if item.unit_price_measurement.reference_value != 1 -%}
                              {{- item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      </div>
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          {%- endif -%}
        </div>
      </div>

      <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p
        class="visually-hidden"
        id="shopping-cart-line-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status"
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </div>
</cart-items>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
