{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.button_label != blank and show_mobile_slider -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank
            and block.settings.title == blank
            and block.settings.text == blank
            and block.settings.link_label == blank
          -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="multicolumn-card content-container">
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div
                    class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}
                  >
                    {%- liquid
                      assign number_of_columns = section.settings.columns_desktop
                      assign number_of_columns_mobile = section.settings.columns_mobile
                      assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                      if section.settings.image_width == 'half'
                        assign image_width = 0.5
                      elsif section.settings.image_width == 'third'
                        assign image_width = 0.33
                      else
                        assign image_width = 1
                      endif
                    -%}
                    {% capture sizes %}
                      (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                      (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                      (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                      calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                    {% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: 3200
                      | image_tag:
                        widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                        sizes: sizes,
                        class: 'multicolumn-card__image'
                    }}
                  </div>
                </div>
              {%- endif -%}
              <div class="multicolumn-card__info">
                {%- if block.settings.title != blank -%}
                  <h3 class="inline-richtext">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a
                    class="link animate-arrow"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{- block.settings.link_label | escape -}}
                    <span class="svg-wrapper"
                      ><span class="icon-wrap">&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span></span
                    >
                  </a>
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if show_mobile_slider -%}
        <div class="slider-buttons large-up-hide">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center{% if show_mobile_slider %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <div class="buttonWrapper">
          <div class="spacer"></div>
        <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 349 81" class="buttonBorder">
          <!-- Generator: Adobe Illustrator 29.3.1, SVG Export Plug-In . SVG Version: 2.1.0 Build 151)  -->
          <defs>
            <style>
              .st0 {
                fill-rule: evenodd;
              }
            </style>
          </defs>
          <path class="st0" d="M285.1,58.9H72s-8.6,0-8.6,0h-.3c-1.4-4.1-4.5-9.1-8.8-13.5,3.5-2.2,6.5-3.6,8.2-4,.5.2.9.3,1.3.4.3.5.8.8,1.5.8.9,0,1.7-.8,1.7-1.7s-.8-1.7-1.7-1.7-1.5.5-1.7,1.3c-2.2-.8-5.6-2.4-9.3-4.8,4.4-4.6,7.6-9.8,8.9-13.9h.2s10.1,0,10.1,0h0s211.6,0,211.6,0h.3c1.4,4.1,4.5,9.1,8.8,13.5-3.5,2.2-6.6,3.6-8.2,4-.5-.2-.9-.3-1.3-.4-.3-.5-.8-.8-1.5-.8-.9,0-1.7.8-1.7,1.7s.8,1.7,1.7,1.7,1.5-.5,1.7-1.3c2.2.8,5.6,2.4,9.3,4.8-4.4,4.6-7.6,9.8-8.9,13.9h-.2ZM285,59.9H73.5s-10.1,0-10.1,0c.3,1,.5,2,.5,2.8.2,5.5-2.7,7.8-5.2,8.2-2.5.3-5.3-1-4.9-3.9.2-1.3,1.1-2,2.2-2.3-.3-1.4-.8-2.8-1.4-4.1-1.3.5-2.8,1.3-4.6,2.5l-.8.6c1.7,3.9,2.2,7.3,2.2,9.7-.1,5.5-3.1,6.7-4.9,6.7s-4.4-1.7-3.5-6.9c.9-5.2,4.2-8.6,4.2-8.6-1.5-2.9-3.5-5.5-5.6-7.9-1.7,2.4-2.9,5.1-3.4,7.8,1.1.2,2.1.9,2.3,2.3.5,2.9-2.3,4.2-4.9,3.9-2.5-.3-5.3-2.7-5.2-8.2,0-3,1.9-7.4,5-11.8-.6-.5-1.1-.9-1.7-1.4-2.2.8-4.7,1.4-7.5,1.7-9.4,1.2-14.3-2.2-16.3-6.3-1.2.1-2.5.2-3.8.1C.4,44.9,0,41.8,0,41.1c0-.7.4-3.8,6.5-4,1.1,0,2.2,0,3.2,0,1.7-4.8,8.1-8.4,17.5-7,2.6.4,5.1,1.1,7.4,2.1.6-.4,1.1-.9,1.7-1.4-3.4-4.6-5.4-9.3-5.5-12.4-.2-5.5,2.7-7.8,5.2-8.1,2.5-.3,5.3,1,4.9,3.9-.2,1.5-1.4,2.2-2.6,2.4.6,2.9,2,5.7,4,8.3,2-2.5,3.9-5.2,5.4-8.3,0,0-3.5-2.5-4.4-7.7-.9-5.2,1.7-6.9,3.5-6.9s4.7,1.2,4.9,6.7c0,2.2-.4,5.2-1.7,8.6h.3c2.1,1.7,3.8,2.5,5.2,2.9.5-1.2.9-2.4,1.3-3.7-1.2-.1-2.5-.8-2.7-2.4-.5-2.9,2.3-4.2,4.9-3.9,2.5.3,5.3,2.7,5.2,8.1,0,.7-.1,1.5-.3,2.3h8.5s213.1,0,213.1,0c-.3-1-.5-2-.5-2.8-.2-5.5,2.7-7.8,5.2-8.1,2.5-.3,5.3,1,4.9,3.9-.2,1.3-1.1,2-2.2,2.3.3,1.4.8,2.8,1.4,4.1,1.3-.5,2.8-1.3,4.6-2.5l.8-.6c-1.7-3.9-2.2-7.3-2.2-9.7.1-5.5,3.1-6.7,4.9-6.7s4.4,1.7,3.4,6.9c-.9,5.2-4.2,8.6-4.2,8.6,1.5,2.8,3.5,5.5,5.6,7.9,1.7-2.4,2.9-5.1,3.4-7.8-1.1-.2-2.1-.9-2.3-2.3-.5-2.9,2.3-4.2,4.9-3.9s5.3,2.7,5.2,8.1c0,3-1.9,7.4-5,11.8.6.5,1.1.9,1.7,1.4,2.2-.8,4.7-1.4,7.5-1.7,9.4-1.2,14.3,2.2,16.3,6.3,1.2-.1,2.5-.2,3.8-.1,6.1.2,6.5,3.3,6.5,4,0,.7-.4,3.8-6.5,4-1.1,0-2.2,0-3.2,0-1.7,4.8-8.1,8.4-17.5,7-2.6-.4-5.1-1.2-7.4-2.1-.5.4-1.1.9-1.6,1.4,3.4,4.6,5.4,9.3,5.5,12.4.2,5.5-2.7,7.8-5.2,8.2-2.5.3-5.3-1-4.9-3.9.2-1.5,1.4-2.2,2.6-2.4-.6-2.9-2-5.7-4-8.3-2,2.5-3.9,5.2-5.4,8.3,0,0,3.5,2.5,4.4,7.7.9,5.2-1.7,6.9-3.4,6.9s-4.7-1.2-4.9-6.7c0-2.2.4-5.2,1.7-8.6h-.3c-2.1-1.6-3.8-2.5-5.2-2.9-.5,1.2-.9,2.4-1.3,3.7,1.2.1,2.5.8,2.7,2.4.5,2.9-2.4,4.2-4.9,3.9-2.5-.3-5.3-2.7-5.2-8.2,0-.7.1-1.5.3-2.3ZM289.7,64.6c.3-.2.8-.4,1.3-.5.3-1.4.8-2.7,1.3-3.9-1.3-.3-2.5-.3-3.7-.3-.2,0-.4,0-.6,0h-1.7c-.8,3.3-.4,6,.8,7.6,2,2.8,5.3,2,6.3.8s.2-3.1-1.2-3.1c0,0,.2,1.6-1.2,1.9-1.4.3-2.4-1.6-1.1-2.5ZM304.1,72.6c.5,4.9-2,6.1-3.9,4.5-1.9-1.6-1.9-9.4.5-12.2,0,0,3,2.8,3.5,7.7ZM299.1,62.5c-.7-.5-2.6-1.8-5-2.8-.1,0-.3-.1-.5-.2,1.8-3.7,4.3-7,7-9.8,1.4,1.2,2.8,2.5,4,3.9-2.6,3-4.3,6.1-5.5,8.9ZM310.3,31.1c-1,1.2-1.9,2.3-2.8,3.3h0c-.3.2-.6.4-.9.6-1.5-1.2-3.2-2.6-4.8-4.2,1.4-1.3,2.7-2.6,3.9-4.1,1.4,1.5,2.9,3,4.6,4.4h0ZM305.3,52.8c-1.2-1.4-2.5-2.7-3.9-3.9,1.7-1.6,3.4-3.1,4.9-4.3,1.1,1,2.2,2.3,3.5,3.8-1.7,1.4-3.2,2.9-4.5,4.4h0ZM302.3,40.4s0-.7-.2-1c0,0,2.9-2.5,4.6-3,2.1,1.5,4.1,2.8,5.1,3.5-1,.6-3,1.8-5.3,3.5,0,0-2.9-1.5-4.2-2.9h0ZM313.7,39.7h0s0,0,0,0h0ZM313.7,39.7h0c-.4-.2-3.1-1.6-6-3.9.4-.4.9-.9,1.3-1.3,1.1-.6,2.3-1.2,3.6-1.7,3.3,2.4,7.3,4.7,12.1,6.8-4.9,2.1-9,4.5-12.4,7-1.6-.7-3.2-1.5-4.9-2.6,2.4-1.8,6.2-4.1,6.4-4.2ZM305.7,35.6c-1.8,1.2-3,2.4-3.9,3.2-.3-.3-.7-.5-1.2-.5s-.8.1-1.1.4c-.8-.6-2.1-1.7-3.7-3.3,1.7-1.1,3.4-2.5,5.1-3.9,1.6,1.6,3.2,2.9,4.7,4.1h0ZM300.6,41.8c.5,0,1-.2,1.3-.6.9.8,2.1,1.7,3.7,2.7-1.6,1.2-3.2,2.7-4.9,4.3-1.5-1.3-3.1-2.5-4.7-3.6,1.6-1.6,2.8-2.7,3.6-3.2.3.2.7.4,1.1.4ZM312.3,51.7c5,7.2,5.2,13,3.1,15.8s-5.3,2-6.3.8c-.9-1.2-.2-3.1,1.2-3.1,0,0-.2,1.6,1.2,1.9,1.4.3,2.3-1.6,1.1-2.5-.3-.3-.9-.4-1.4-.5-.6-3.2-2.1-6.3-4.3-9.1,1.4-1.6,2.9-3.1,4.4-4.4,0,0,.1.1.2.2h0c.2.4.4.7.6,1h0ZM310.8,47.7s0,0,0,0c-.4-.5-.8-.9-1.2-1.4.6.3,1.2.6,1.8.9-.1,0-.2.2-.3.2h0c0,0-.2.1-.2.2ZM321.8,48.9c-2.5-.2-4.7-.6-6.9-1.3,6.4-4.9,12.1-7.3,12.1-7.3,0,0,2.9,1.7,7.4,2.6-1.4,4.3-6.2,6.6-12.6,6h0ZM334.8,41.2c0,.1,0,.2,0,.4,0,0,0,.1,0,.2-3.3-.8-6.2-2-6.2-2,0,0,.9-1,6-2.3.3,1.3.4,2.5.3,3.7ZM347,40.1c-.3,1.9-2.5,2.7-7.2,2.5-.2,0-.5,0-.7,0,0-.2,0-.4.1-.6.2-1.7,0-3.6-.6-5.4,6.8-1,8.7,1.7,8.4,3.5ZM318.8,30.9c9.2-2,13.8,1.5,15.4,5.6-4.4,1.1-7.2,2.9-7.2,2.9,0,0-5.5-2.7-11.7-7.5,1.1-.4,2.3-.7,3.6-1h0ZM311.7,32.2c-.5.2-.9.4-1.3.6.3-.3.5-.7.8-1h0s.5.4.5.4h0ZM311,16.1c.7,0,1.4-.2,1.8-.5,1.2-.9.3-2.8-1.1-2.5-1.4.3-1.2,1.9-1.2,1.9-1.4,0-2.2-1.9-1.2-3.1.9-1.2,4.2-2,6.3.8,2,2.8,1.9,8.6-3.1,15.8-.1.2-.3.4-.4.6-1.6-1.4-3.1-2.9-4.6-4.5,1.8-2.6,3.1-5.5,3.6-8.4h0ZM300.2,2.1c1.9-1.6,4.4-.3,3.9,4.5-.5,4.9-3.6,8.7-3.6,8.7-2.4-2.8-2.2-11.7-.3-13.3h0ZM299.4,18l.2-.3c1.2,2.6,3,5.5,5.5,8.3-1.2,1.5-2.6,2.9-4,4.1-2.6-2.6-5.1-5.8-6.8-9.2,3-1.1,5.1-2.9,5.1-2.9h0ZM287,12.7c2-2.8,5.3-2,6.3-.8.9,1.2.2,3.1-1.2,3.1,0,0,.2-1.6-1.2-1.9-1.4-.3-2.4,1.6-1.1,2.5.5.3,1.2.5,1.9.5.3,1.5.8,2.9,1.4,4.2-1.6.5-3,.5-4.4.4-.2,0-.4,0-.6,0h-1.6c-1-3.6-.6-6.4.7-8.2h0ZM290.1,28.5c-1.7-2.4-2.8-4.7-3.5-6.7,2,0,4.7,0,6.7-.6,1.7,3.7,4.3,6.9,6.9,9.6-1.7,1.5-3.4,2.8-5.1,3.9-1.5-1.6-3.3-3.7-5-6.2h0ZM287.4,39.9c2-.7,4.7-2,7.6-3.9,1.3,1.2,2.6,2.4,4.1,3.5,0,.2-.1.4-.1.6s0,.4.1.6c-1.4,1-2.7,2.2-4,3.4-2.8-1.8-5.5-3.3-7.6-4.2h0ZM290.1,51.7c1.7-2.5,3.4-4.5,5-6.1,1.6,1.1,3.2,2.2,4.8,3.5-2.8,2.9-5.4,6.3-7.2,10.2-2-.4-4.4-.4-6.2-.4.7-2.2,1.8-4.6,3.7-7.2h0ZM57.5,16.6c.5,0,1-.2,1.3-.5,1.2-.9.3-2.8-1.1-2.5-1.4.3-1.2,1.9-1.2,1.9-1.4,0-2.2-1.9-1.2-3.1.9-1.2,4.2-2,6.3.8,1.2,1.7,1.6,4.3.8,7.6h-1.7c-.2,0-.4,0-.6,0h0c-1.2,0-2.4,0-3.7-.3.5-1.3,1-2.6,1.3-3.9ZM48.3,3.6c-1.9-1.6-4.4-.3-3.9,4.5.5,4.9,3.5,7.7,3.5,7.7,2.4-2.8,2.4-10.6.5-12.2ZM54.4,21c-2.4-.9-4.4-2.2-5.1-2.8-1.2,2.8-3,5.8-5.5,8.9,1.2,1.4,2.6,2.7,4,3.9,2.7-2.8,5.3-6.1,7-9.8-.2,0-.3-.1-.4-.2ZM41,46.3c-.9,1-1.9,2.1-2.8,3.3h0c1.8,1.4,3.3,2.9,4.6,4.4,1.2-1.5,2.6-2.8,4-4.1-1.6-1.6-3.3-3-4.8-4.2-.3.2-.6.4-.9.6h0ZM47.1,31.7c-1.4-1.2-2.7-2.5-3.9-3.9h0c-1.3,1.5-2.8,2.9-4.5,4.4,1.2,1.5,2.4,2.8,3.5,3.8,1.6-1.2,3.3-2.7,4.9-4.3ZM46.4,41.3c-.2-.3-.2-1-.2-1h0c-1.4-1.4-4.2-2.9-4.2-2.9-2.3,1.7-4.2,2.9-5.3,3.5,1,.6,3,1.9,5.1,3.4,1.7-.5,4.6-3,4.6-3ZM34.8,41h0s0,0,0,0h0ZM34.8,41h0c.2-.1,4.1-2.5,6.4-4.3-1.8-1.1-3.4-2-5-2.7-3.4,2.5-7.5,4.9-12.4,7,4.8,2,8.8,4.3,12.1,6.8,1.3-.5,2.5-1.1,3.6-1.7.4-.5.8-.9,1.3-1.3-3-2.2-5.7-3.6-6-3.8h0ZM46.7,41.9c-.8.8-2.1,2-3.9,3.2h0c1.5,1.2,3.1,2.5,4.7,4.1,1.7-1.5,3.4-2.8,5.1-3.9-1.6-1.6-2.9-2.7-3.7-3.3-.3.2-.7.4-1,.4s-.9-.2-1.2-.5ZM46.6,39.4c.3-.3.8-.6,1.3-.6s.8.2,1.1.4c.8-.6,2-1.7,3.6-3.2-1.6-1.1-3.2-2.3-4.7-3.6-1.7,1.6-3.3,3.1-4.9,4.3,1.6,1,2.8,2,3.7,2.7ZM33.1,13.2c-2,2.8-1.9,8.6,3.1,15.8h0c.2.3.4.6.6.9,0,.1.2.2.2.3,1.5-1.3,3-2.8,4.4-4.4-2.1-2.8-3.7-5.9-4.3-9.1-.6,0-1.1-.2-1.4-.5-1.2-.9-.3-2.8,1.1-2.5,1.4.3,1.2,1.9,1.2,1.9,1.4,0,2.2-1.9,1.2-3.1-.9-1.3-4.2-2-6.3.8ZM37.8,33c-.1,0-.2.2-.3.2h0c-.1,0-.2.2-.3.2.6.3,1.2.6,1.8.9-.4-.5-.8-.9-1.2-1.4ZM33.6,33.1c-2.2-.7-4.3-1.1-6.9-1.3h0c-6.4-.6-11.2,1.7-12.6,6,4.6,1,7.4,2.6,7.4,2.6,0,0,5.7-2.4,12.1-7.3ZM13.8,39.1c0,.1,0,.2,0,.4-.1,1.2,0,2.5.3,3.7,5.1-1.3,6-2.3,6-2.3,0,0-2.9-1.2-6.2-2,0,0,0,.1,0,.2ZM8.7,38.1c-4.7-.2-6.9.7-7.2,2.5-.3,1.8,1.7,4.5,8.4,3.5-.7-1.8-.8-3.7-.6-5.4,0-.2,0-.4.1-.6-.2,0-.5,0-.7,0ZM14.3,44.2c1.6,4.1,6.1,7.5,15.4,5.6h0c1.3-.3,2.5-.6,3.6-1-6.2-4.9-11.7-7.5-11.7-7.5,0,0-2.8,1.8-7.2,2.9ZM38.1,47.9c-.4.2-.9.4-1.3.6h0s.5.4.5.4c.3-.3.5-.7.8-1ZM35.7,65.1c.4-.3,1.1-.5,1.8-.5h0c.5-3,1.8-5.8,3.6-8.4-1.5-1.6-3-3.1-4.6-4.5-.1.2-.3.4-.4.5-5,7.2-5.2,13-3.1,15.8,2,2.8,5.3,2,6.3.8,1-1.3.2-3.1-1.2-3.1,0,0,.2,1.6-1.2,1.9-1.4.3-2.3-1.6-1.1-2.5ZM44.4,74.1c-.5,4.9,2,6.1,3.9,4.5h0c1.9-1.6,2-10.5-.3-13.3,0,0-3.1,3.9-3.6,8.7ZM48.9,63l.2-.3h0s2.2-1.7,5.1-2.9c-1.7-3.5-4.2-6.6-6.8-9.2-1.4,1.3-2.8,2.7-4,4.2,2.4,2.8,4.2,5.6,5.5,8.3ZM55.2,68.8c.9,1.3,4.2,2,6.3-.8h0c1.2-1.8,1.7-4.6.7-8.2h-1.6c-.2,0-.4,0-.6,0h0c-1.4,0-2.8,0-4.4.4.6,1.4,1.1,2.8,1.4,4.2.7,0,1.5.2,1.9.5,1.2.9.3,2.8-1.1,2.5-1.4-.3-1.2-1.9-1.2-1.9-1.4,0-2.2,1.9-1.2,3.1ZM61.9,58.9c-.7-2-1.8-4.3-3.5-6.7h0c-1.7-2.5-3.5-4.6-5.1-6.2-1.7,1.1-3.4,2.4-5.1,3.9,2.7,2.7,5.2,5.9,6.9,9.6,2-.5,4.7-.6,6.7-.6ZM53.5,44.7c2.9-1.9,5.6-3.2,7.6-3.9h0c-2.2-.9-4.8-2.4-7.6-4.2-1.2,1.2-2.6,2.3-4,3.4,0,.2.1.4.1.6s0,.4-.1.6c1.4,1.1,2.8,2.2,4.1,3.5ZM53.4,35.1c1.5-1.6,3.2-3.6,5-6.1h0c1.8-2.6,3-5.1,3.7-7.2-1.8,0-4.2,0-6.2-.4-1.8,3.9-4.4,7.4-7.2,10.2,1.6,1.3,3.2,2.5,4.8,3.5ZM30,40.8c0-1,.8-1.7,1.7-1.7s1.7.8,1.7,1.7-.8,1.7-1.7,1.7-1.7-.8-1.7-1.7ZM318.4,39.8c0,1-.8,1.7-1.7,1.7s-1.7-.8-1.7-1.7.8-1.7,1.7-1.7,1.7.8,1.7,1.7Z"/>
        </svg>
        <a
          class="button button--primary norwesterLarge"
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
        >
          
          {{ section.settings.button_label | escape }}
        </a>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.multicolumn.settings.title.default",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_image.content"
    },    
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_button.content"
    },    
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.multicolumn.settings.button_label.default",
      "label": "t:sections.multicolumn.settings.button_label.label", 
      "info": "t:sections.multicolumn.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },    
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_layout.content"
    },     
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },    
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "t:sections.multicolumn.blocks.column.settings.title.default",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.multicolumn.blocks.column.settings.text.default",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label",
          "info": "t:sections.multicolumn.blocks.column.settings.link_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
